extends layout

block content
    div.container
      .col-xs-12
        h3 Justificaciones
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Usuario
                th Motivo
                th Detalle
                th Comentario
            tbody 
              each justificacion, i in justificaciones
                tr
                  td #{justificacion.fecha} 
                  td #{justificacion.usuario.nombre} #{justificacion.usuario.apellido1}
                  td #{justificacion.motivo} 
                  td #{justificacion.detalle} 
                  form(role='form', method="POST", action="/getionarJustificacion/"+justificacion.id)
                    td
                      textarea.form-control(rows="1" cols="50", name="comentarioSupervisor", placeholder="Añada comentario")
                    td
                      select.selectpicker.show-tick(name='estado')
                        option(value='Aceptada') Aceptar
                        option(value='Rechazada') Rechazar
                        option(value='Pendiente') Pendiente
                    td
                      button.btn.btn-success(type='submit', name='gestionar') Gestionar                 
 



        h3 Solicitudes Horas Extras
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Usuario
                th Dia
                th Hora Entrada 
                th Hora Salida
                th Cantidad de Horas
                th Motivo
                th Comentario
            tbody 
              each extra, i in extras
                tr
                  td #{extra.fecha} 
                  td #{extra.usuario.nombre} #{extra.usuario.apellido1} 
                  td #{extra.diaInicio} 
                  td #{extra.horaInicio} 
                  td #{extra.horaFinal} 
                  td #{extra.cantHoras} 
                  td #{extra.motivo} 
                  form(role='form', method="POST", action="/getionarSolicitud/"+extra.id)
                    td
                      textarea.form-control(rows="1" cols="50", name="comentarioSupervisor", placeholder="Añada comentario")
                    td
                      select.selectpicker.show-tick(name='estado')
                        option(value='Aceptada') Aceptar
                        option(value='Rechazada') Rechazar
                        option(value='Pendiente') Pendiente
                    td
                      button.btn.btn-success(type='submit', name='gestionar') Gestionar

        h3 Solicitudes Permisos
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Usuario
                th Dia Inicial
                th Dia Final 
                th Motivo
                th Detalle
                th Comentario
            tbody 
              each permiso, i in permisos
                tr
                  td #{permiso.fecha} 
                  td #{permiso.usuario.nombre} #{permiso.usuario.apellido1} 
                  td #{permiso.diaInicio} 
                  td #{permiso.diaFinal} 
                  td #{permiso.motivo} 
                  td #{permiso.detalle} 
                  form(role='form', method="POST", action="/getionarSolicitud/"+permiso.id)
                    td
                      textarea.form-control(rows="1" cols="50", name="comentarioSupervisor", placeholder="Añada comentario")
                    td
                      select.selectpicker.show-tick(name='estado')
                        option(value='Aceptada') Aceptar
                        option(value='Rechazada') Rechazar
                        option(value='Pendiente') Pendiente
                    td
                      button.btn.btn-success(type='submit', name='gestionar') Gestionar
                                 
block sigucaJS
  script(src="/js/mailgun_validator.js")