extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  
block sigucaNavbarItems
  

block content
  .container
    
    .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Actualización de Empleados
              .modal-body
                form(role='form', method="POST", action="/empleado/" + _id)
                  .form-group
                      label(for='nombre') Nombre:
                      input#group.form-control(type= 'text', placeholder='Nombre', name= 'nombre', value=nombre)
                    .form-group
                      label(for='apellido1') Primer Apellido:
                      input#apellido1.form-control(type= 'text', placeholder='Primer Apellido', name= 'apellido1', value=apellido1)
                    .form-group
                      label(for='apellido2') Segundo Apellido:
                      input#apellido2.form-control(type= 'text', placeholder='Segundo Apellido', name='apellido2', value=apellido2)
                    .form-group
                      label(for='email') Correo Eléctronico:
                      input#email.form-control(type= 'email', placeholder='Correo Electronico', name='email', value=email)
                    .form-group
                      label(for='cedula') Cédula:
                      input#cedula.form-control(type= 'Number', placeholder='Cédula', name='cedula', value=cedula)
                    .form-group
                      label(for='codTarjeta') Código de Empleado:
                      input#codTarjeta.form-control(type= 'Number', placeholder='Código de Empleado', name='codTarjeta', value=codTarjeta)
                      input(type='hidden', name='_method', value='put')               
                                                  
                    button.btn.btn-default(type='submit') Actualizar
   
              .modal-footer    
    
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")




