extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/bootstrap-timepicker.min.css')
  link(rel='stylesheet', href='/stylesheets/awesome-bootstrap-checkbox.css')    

block content
  .container
    
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Actualizar Horarios
        .modal-body
          form(method="post", action="/horarioN/" + horario._id)#login-form.well.span4
            .form-group
              h4 Información Básica
              label(for='nombre' style="float:left") Nombre del Horario:
                input.form-control#textInput( type="text", name="nombre", value=horario.nombre, placeholder='Nombre del horario')
              label(for='tipo') Tipo jornada  
                .checkboxAwesome.checkbox-success          
                  if(horario.tipo === 'Fijo')
                    input(type='checkbox', name= "tipo", id="tipoJornada" value=horario.tipo)
                  else
                    input(type='checkbox', name= "tipo", id="tipoJornada" value=horario.tipo checked)
                  label(for='tipoJornada', id="tipoJornadaLabel") Libre  
            .form-group
              h4 Información de jornada
              label(for='horaEntrada') Hora de entrada:
                div#timepicker.input-group
                  input#horaEntrada.input-small.form-control(type="text", name= 'horaEntrada', value=horario.horaEntrada)
                  span.input-group-addon
                    i.icon-time

              label(for='horaSalida') Hora de salida:
                div#timepicker1.input-group
                  input#horaSalida.input-small.form-control(type="text", name= 'horaSalida', value=horario.horaSalida)
                  span.input-group-addon
                    i.icon-time
              label(for='rangoJornada') Rango de jornada:de horas:
                label.form-control#rangoJornada() #{horario.rangoJornada}
                div#timepicker4.input-group
                  input.form-control#inputRango(type="text", name="rangoJornada", value=horario.rangoJornada)
                  span.input-group-addon
                    i.icon-time 
            .form-group
              h4 Información de descansos
              label(for='tiempoReceso') Rango de receso:
                div#timepicker2.input-group
                  input#tiempoReceso.input-small.form-control(type="text", name= 'tiempoReceso', value=horario.tiempoReceso)
                  span.input-group-addon
                    i.icon-time  
              label(for='tiempoAlmuerzo') Rango de almuerzo:
                div#timepicker3.input-group
                  input#tiempoAlmuerzo.input-small.form-control(type="text", name= 'tiempoAlmuerzo', value=horario.tiempoAlmuerzo)
                  span.input-group-addon
                    i.icon-time
               
            button.btn.btn-success(type='submit') Actualizar
            button.btn.btn-default(type='button', data-dismiss='modal') Cancelar

block sigucaJS
  script(src="/js/bootstrap-timepicker.min.js")
  script( src='/js/timepickerAdminEdit.js')