extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')

block content
  .container
    
    .modal-dialog
        .modal-content
          .modal-body
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Actualización de Empleados
            form(role='form', method="POST", action="/empleado/" + empleado.id)#login-form.well.span4
              .form-group
                  h3 Información Básica
                  label(for='nombre') Nombre: 
                    input#group.form-control(type= 'text', placeholder='Nombre', name= 'nombre', value=empleado.nombre)
                  label(for='cedula') Cédula:
                    input#cedula.form-control(type= 'Number', placeholder='Cédula', name='cedula', value=empleado.cedula)
              .form-group
                label(for='apellido1') Primer Apellido:
                  input#apellido1.form-control(type= 'text', placeholder='Primer Apellido', name= 'apellido1', value=empleado.apellido1)
                label(for='apellido2') Segundo Apellido:
                  input#apellido2.form-control(type= 'text', placeholder='Segundo Apellido', name='apellido2', value=empleado.apellido2)
              .form-group
                label(for='email') Correo Eléctronico:
                  input#email.form-control(type= 'email', placeholder='Correo Electronico', name='email', value=empleado.email)
              
              .form-group 
                h3 Información Laboral
                label(for='codTarjeta') Código de Empleado:
                  input#codTarjeta.form-control(type= 'text', placeholder='Código de Empleado', name='codTarjeta',  value=empleado.codTarjeta)
                label(for="usernameInput")
                  |Usuario:
                  input.form-control#textInput(type="text", name="username", placeholder="Usuario", value=empleado.username)
                label(for="passwordInput")
                  |Contraseña:
                  input.form-control#passInput(type='text', size='18', name="password", placeholder="Contraseña")
              .form-group 
                label(for="tipoInput")
                  |Tipo de Usuario:
                  select.form-control#tipoEmpleado(type="text", name="tipo") 
                    if(empleado.tipo == "Empleado") 
                      option(value='Empleado' selected='true') Empleado 
                    else 
                      option(value='Empleado') Empleado 
                    if(empleado.tipo == "Supervisor") 
                      option(value='Supervisor' selected='true') Supervisor 
                    else 
                      option(value='Supervisor') Supervisor 
                    if(empleado.tipo == "Administrador") 
                      option(value='Administrador' selected='true') Administrador 
                    else 
                      option(value='Administrador') Administrador 

                label(for='horario') Horario:
                  select.form-control#idHorario(type="text", name="horario") 
                    each horario, i in horarios
                      if(empleado.horario == horario.id)
                        option(value= horario.id selected='true') #{horario.nombre} 
                      else
                       option(value= horario.id) #{horario.nombre}

                label(for='departamento') Departamento:
                  if(empleado.tipo =='Supervisor')
                    br
                    select.form-control#idDepartamento.selectpicker(data-style="btn-success", data-width="200px", type="text", name="departamentos" multiple='true')
                      each departamento, i in departamentos
                        var noSelect = true;
                        each depa in empleado.departamentos
                          if(depa.departamento == departamento.id)
                            option(value= departamento.id selected) #{departamento.nombre} 
                            noSelect = false;
                        if(!noSelect)
                          option(value= departamento.id) #{departamento.nombre} 
                  else
                    select.form-control#idDepartamento.selectpicker(data-style="btn-success",type="text", name="departamentos")  
                      each departamento, i in departamentos
                        each depa in empleado.departamentos
                          if(depa.departamento == departamento.id)
                            option(value= departamento.id selected='true') #{departamento.nombre}
                          else
                              option(value= departamento.id) #{departamento.nombre}
                         
              button.btn.btn-success(type='submit') Actualizar
              button.btn.btn-default(type='button', data-dismiss='modal') Cancelar 

          .modal-footer       

block sigucaJS
  script(src="/js/bootstrap-select.min.js")