extends layout

block content
  .container
    
    br

    h3 Lista de Empleados
    table.footable.tableEmpleado(data-page-navigation=".pagination" data-page-size="20")
        thead
          tr
            th Código Tarjeta
            th Nombre
            th Apellidos
            th(data-hide="phone") Cédula
            th(data-hide="phone,small,medium,large") Email
            th(data-hide="phone") Tipo
            th(data-hide="phone,small,medium" data-sort-ignore="true") Departamento
            th(data-hide="phone,small,medium") Horario
            th(data-hide="phone,small") Estado
            th(data-hide="phone,small" data-sort-ignore="true") Editar
            th(data-hide="phone,small" data-sort-ignore="true") Eliminar

        tbody 
          each empleado, i in empleados
            tr
              td #{empleado.codTarjeta}
              td #{empleado.nombre}
              td #{empleado.apellido1} #{empleado.apellido2} 
              td #{empleado.cedula} 
              td #{empleado.email} 
              td #{empleado.tipo} 
              td 
                each departamentos, i in empleado.departamentos
                  ul
                    if(departamentos.departamento)
                      li #{departamentos.departamento.nombre}
                    else
                      li No tiene departamento asignado
              td #{empleado.horario.nombre} 
              td #{empleado.estado} 
              td
                button.btn.btn-default(data-toggle="modal" data-target="#editEmpl" value=empleado.id)
                  i.icon-pencil.icon-large.i-success
              td
                button.empleadoDelete.btn.btn-default(value=empleado.nombre+' '+empleado.apellido1+''+empleado.apellido2+','+empleado.id)
                  i.icon-trash.icon-large.i-danger
        tfoot
          tr
            td(colspan='11')
              .pagination.pagination-centered.hide-if-no-paging

    //actualizar empleados
    #editEmpl.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body
              button.close(type='button', data-dismiss='modal', aria-hidden='true') × 
              h3#myModalLabel.modal-title Actualizar Empleado
              form.formUpdate(role='form', method="POST", action="/empleado")#login-form.well.span4
                  .form-group
                    h3 Información Básica
                    label(for='nombre') Nombre:
                      input#nombre.form-control(type= 'text', placeholder='Carlos', name= 'nombre')
                    label(for='cedula') Cédula:
                     input#cedula.form-control(type= 'text', placeholder='110459625', name='cedula') 
                  .form-group
                    label(for='apellido1') Primer Apellido:
                      input#apellido1.form-control(type= 'text', placeholder='Corella', name= 'apellido1')
                    label(for='apellido2') Segundo Apellido:
                     input#apellido2.form-control(type= 'text', placeholder='Sandi', name='apellido2')   
                    label(for='email') Correo Eléctronico:
                      input#email.form-control(type= 'email', placeholder='alguien@ejemplo.com', name='email')
                     

                  .form-group 
                    h3 Información Laboral
                    label(for="usernameInput")
                       |Usuario:
                       input.form-control#username(type="text", name="username", placeholder="Usuario")
                    label(for='codTarjeta') Código de Empleado:
                      input#codTarjeta.form-control(type= 'text', placeholder='Código de Empleado', name='codTarjeta')
                    br   
                    label(for="tipoInput") Tipo de Usuario:
                      br
                      select.form-control#selectTipo.selectpicker(data-style="btn-inverse", data-width="140px", type="text", name="tipo") 
                        option Empleado
                        option Supervisor
                        option Administrador

                    label(for='horario') Horario:
                      br
                      select.form-control#selectHorario.selectpicker(data-style="btn-inverse", data-width="140px", type="text", name="horario") 
                        each horario, i in horarios
                            option(value= horario.id) #{horario.nombre} 

                    label(for='departamento') Departamento:
                      br
                      select.form-control#selectDepartamentos.selectpicker(data-style="btn-success", data-width="200px", data-selected-text-format="count>2", type="text", name="departamentos", multiple="multiple") 
                        each departamento, i in departamentos
                            option(value= departamento.id) #{departamento.nombre}
                  .form-group
                     label(for="passwordInput")
                       |Contraseña:
                       input.form-control#passInput(type='text', size='18', name="password", placeholder="Contraseña")
                       button.btn.btn-default(type='button', onclick='generatepass(8)') Generar Contraseña
                      
                  button.btn.btn-success(type='submit') Actualizar
                  button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar

block sigucaJS
  script(src="/js/components/mailgun_validator.js")
  script(src="/js/components/generarPassword.js")

