extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')

block imgSession
  

block content
  .container
    
    h3 Lista de Empleados
    br
    .table-responsive
    table.table
        thead
          tr
            th Código Tarjeta
            th Nombre
            th Apellidos
            th Cedula
            th Email
            th Tipo
            th Departamento
            th Horario
            th Estado

        tbody 
          each empleado, i in empleados
            tr
              td #{empleado.codTarjeta}
              td #{empleado.nombre}
              td #{empleado.apellido1} #{empleado.apellido2} 
              td #{empleado.cedula} 
              td #{empleado.email} 
              td #{empleado.tipo} 
              td #{empleado.departamento} 
              td #{empleado.horario} 
              td #{empleado.estado} 
              td
                a#edit.btn.btn-success(href="/empleado/edit/"+empleado.id) Editar
              td
                 a#delete.btn.btn-danger(href="/empleado/delete/"+empleado.id) Eliminar