.col-xs-8

  div.col-md-6
    div.img-circle
      img.img-responsive(src="/uploads/"+usuario.codTarjeta+".png" border="5" alt="#{textos[0].titulo}" style="height:200px;")

      h3.text-success #{textos[1].titulo}
      input(type="hidden" id="tiempoRespuesta" value="#{tiempoRespuesta}")
      input(type="hidden" id="alertas" value="#{alertas}")

      table.table-responsive.tableInfo

        tbody
          tr
            td
              b #{textos[2].titulo}
            td #{usuario.nombre}
          tr
            td
              b #{textos[3].titulo}
            td #{usuario.apellido1} #{usuario.apellido2}
          tr
            td
              b #{textos[4].titulo}
            td #{usuario.tipo === "Empleado" ? "Colaborador" : usuario.tipo }
          tr
            td
              b Cédula:
            td #{usuario.cedula}
          tr
