.col-xs-8

  //-Perfil personal
  div.col-md-6
    div.img-circle
      img.img-responsive(src="/uploads/"+usuario.codTarjeta+".png" border="5" alt="#{textos[0].titulo}" style="height:200px;")

      h3.text-success #{textos[1].titulo}
      input(type="hidden" id="tiempoRespuesta" value="#{tiempoRespuesta}")
      input(type="hidden" id="alertas" value="#{alertas}")

      table.table-responsive.tableInfo

        tbody
          tr
            td
              b #{textos[2].titulo}
            td #{usuario.nombre}
          tr
            td
              b #{textos[3].titulo}
            td #{usuario.apellido1} #{usuario.apellido2}
          tr
            td
              b #{textos[4].titulo}
            td #{usuario.tipo}
          tr
            td
              b Cédula:
            td #{usuario.cedula}
          tr
            td
              b #{textos[6].titulo}
            td #{infoPeriodos.diasDisponibles}

  //-Marcas
  div.col-md-5
    div(style="border: 2px solid #004277; padding: 5%;")
      h3.text-success #{textos[7].titulo}
      div
        label #{textos[8].titulo}
          span.clock
        label #{textos[9].titulo}
          span.clockHorasTrab
      .marca
        div#contBotones
          div
          button#btn-marca.btn.btn-success(name='marcar', data-toggle="modal" data-target="#addMarca" value=usuario._id) #{textos[10].titulo}


    h3.text-success #{textos[11].titulo}
    table#tablaMarcas.footable
      thead
        tr
          th(data-sort-ignore="true") #{textos[12].titulo}
          th(data-sort-ignore="true") #{textos[13].titulo}
          th(data-sort-ignore="true") #{textos[14].titulo}
          th(data-sort-ignore="true") #{textos[15].titulo}
      tbody.marcasDetalle#marcasBody

        each marca, i in marcas
          tr
            td #{marca.tipoMarca}
            td #{marca.fecha}
            if(marca.dispositivo=="Computadora")
              td
                img(src='/images/compu.png' height="50" width="auto")#CompuLogo
            else
              td
                img(src='/images/ras.png' height="50" width="auto")#PiLogo
            if(marca.red=="local")
              td
                img(src='/images/office.png' height="50" width="auto")#OffieLogo
            else if(marca.red=="remota")
              td
                img(src='/images/home.png' height="50" width="auto")#OffieLogo
            else
              td #{marca.red}

    h3.text-success #{textos[16].titulo}
    .form-group
      label.labelFiltro(for='date_range_marca') #{textos[17].titulo}
        div.input-group
          input#date_range_marca.form-control(type='text')
          span.input-group-addon
            i.icon-calendar
      label.labelFiltro(for='date_range_end') #{textos[18].titulo}
        div.input-group
          input#date_range_end.form-control(type='text')
          span.input-group-addon
            i.icon-calendar
        br
        button#btnIr.btn-primary.btn #{textos[19].titulo}

    div
      div.hideDisplay
        div.label.headerFont.panel.panel-success
          .panel-heading
            .panel-title Tiempo Total Laborado:
          .panel-body
            button.close#cerrarPanel(type='button') ×
            .text-center.bigFont.span.qwer



 .col-xs-4
  if(usuario.tipo == 'Supervisor')
    h4.headerFont #{textos[54].titulo}
    ul.list-group
      li.list-group-item
        a(href='/gestionarEventos/extras')
          span.badge #{soliCount}
          |   #{textos[55].titulo}
      li.list-group-item
        a(href='/gestionarEventos/justificaciones')
          span.badge #{justCount}
          |   #{textos[56].titulo}

    h4.headerFont #{textos[57].titulo}
    ul.list-group
      a(href='/justificacionesPendientes')
        span.badge #{contJust}
        |   #{textos[57].titulo}

  h4.headerFont #{textos[20].titulo}
  ul.list-group
    li.list-group-item
      a(data-toggle="modal" data-target="#horaExtra")#extraLink
        | #{textos[21].titulo}
    li.list-group-item
      a(data-toggle="modal" data-target="#permiso")
        | #{textos[22].titulo}
    li.list-group-item
      a(data-toggle="modal" data-target="#addJustificacion")
        | #{textos[23].titulo}
  br
  .col-xs-12
    h4 #{textos[24].titulo}&nbsp;
      span(style="margin-top:-10px;").label.label-default #{justificaciones.length}
    div.justTable.table-responsive
      div.row
        table#tablaJust.footable(data-page-navigation=".pagination" data-page-size="4" )
          thead
            tr
              th(data-sort-ignore="true" data-type="numeric" ) #{textos[25].titulo}
              th(data-sort-ignore="true") #{textos[26].titulo}
              th(data-sort-ignore="true" data-type="numeric" ) #{textos[27].titulo}
              th #{textos[28].titulo}
          tbody.justDetalle
            each just, i in justificaciones
              tr
                //.miClase fue crerada para contar la cantidad de justificaciones creadas
                td.miClase #{just.fecha.str}
                td #{just.motivo}
                td #{just.informacion}
                td
                  button.btn.btn-success(type='button',data-toggle="modal", data-target="#updateJustificacion" ,data-value=just._id ) Justificar

          tfoot
            tr
              td(colspan='8')
                .pagination.pagination-centered.hide-if-no-paging

#mensajeMarca.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close#closeMensajeMarca(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel.modal-title Mensaje de marca
          .modal-body
            #bodyMensaje.well.span4
              label#lblMensajeMarca

#mensajeConfirmacionConexion.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel.modal-title Confirmación de Conexión
      .modal-body
        .row.text-center
          div.col-md-12
            button#btnPresente.btnPresente.btn.btn-success.btn-lg(style="width: 95%;", value = 'Presente' ) Presente
            input(type="hidden" id="idEventoTeletrabajo" value="")

#addMarca.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content.fontTransparent
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel.modal-title #{textos[29].titulo}
          .modal-body
            .row.text-center
                div.col-md-6
                  button#btnEntrada.btnEntrada.btn.btn-success.btn-lg(style="width: 95%;", value = 'Entrada' ) #{textos[30].titulo}
                div.col-md-6
                  button#btnSalida.btnSalida.btn.btn-success.btn-lg(style="width: 95%;", value = 'Salida') #{textos[31].titulo}
                div.col-md-6
                  button#btnSalidaReceso.btnSalidaReceso.btn.btn-warning.btn-lg(style="width: 95%;", value = 'Salida a Receso') #{textos[33].titulo}
                div.col-md-6
                  button#btnEntradaReceso.btnEntradaReceso.btn.btn-warning.btn-lg(style="width: 95%;", value = 'Entrada de Receso') #{textos[32].titulo}
                if(usuario.tipo != config.empleadoProfesor)
                  div.col-md-6
                    button#btnSalidaAlmuerzo.btnSalidaAlmuerzo.btn.btn-primary.btn-lg(style="width: 95%;", value = 'Salida al Almuerzo') #{textos[34].titulo}
                  div.col-md-6
                    button#btnEntradaAlmuerzo.btnEntradaAlmuerzo.btn.btn-primary.btn-lg(style="width: 95%;", value = 'Entrada de Almuerzo') #{textos[35].titulo}
                div.col-md-6
                    button.btn.btn-danger.btn-lg(style="width: 95%;",type='button', data-dismiss='modal') #{textos[36].titulo}

#horaExtra.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[37].titulo}
          .modal-body
            form#solicitud-extra-form(role='form', method="POST", action="/solicitud_extra").well.span4
              .form-group
                label(for='fecha') #{textos[38].titulo}
                  div.input-group
                    input#date_timepicker_start.form-control(type='text', name='epochInicio', placeholder='#{textos[40].titulo}' required )
                    span.input-group-addon
                      i.icon-time
                label(for='fecha') #{textos[39].titulo}
                  div.input-group
                    input#date_timepicker_end.form-control(type='text', name='epochTermino', placeholder='#{textos[41].titulo}' required )
                    span.input-group-addon
                      i.icon-time
              .form-group
                label(for='cliente') #{textos[42].titulo}
                  input#clienteSoli.input-small.form-control(type="text", name='cliente' required )
                label(for='motivo') #{textos[43].titulo}
                  textarea#motivo.form-control(rows="4" cols="50" name='motivo' required )


              button.btn.btn-success #{textos[44].titulo}
              button#btn-soli-cancelar.btn.btn-default(type='button', data-dismiss='modal') #{textos[45].titulo}


#permiso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true' )
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[46].titulo}
          .modal-body
            form.formSoli(role='form', method="POST")#login-form.well.span4
              .form-group
                label(for='diaInicio') #{textos[47].titulo}
                  div.input-group
                    input#diaInicio.form-control(type='text', name='diaInicio', placeholder='Fecha Inicial' required)
                    span.input-group-addon
                      i.icon-calendar
                label(for='diaFinal') #{textos[48].titulo}
                  div.input-group
                    input#diaFinal.form-control(type= 'text', placeholder='Fecha Final', name= 'diaFinal' required)
                    span.input-group-addon
                      i.icon-calendar
                label#lblnumDias(for='cantidadDias')  #{textos[49].titulo}
                input#cantidadDias.form-control(type= 'hidden', placeholder='3', name= 'cantidadDias' required)
              .form-group
                label(for='motivo') #{textos[50].titulo}
                  select#selectMotivo.form-control(type= 'text', name= 'motivo' style='float:left')
                    option(value='seleccionar') Seleccione una opción
                    option(value='Vacaciones') Vacaciones
                    option(value='Permiso Médico') Permiso Médico
                    option(value='Permiso Estudio') Permiso de Estudio
                    option(value='Familiar') Familiar
                    option(value='Articulo 51') Articulo 51
                    option(value='Permiso sin goce de salario') Permiso sin goce de salario
                    option(value='Reunión') Reunión
                    option(value='Otro') Otro
                div#divOtro(style='display:none;')
                  label(for='motivoOtro') Descripción:
                    input#motivoOtro.form-control(type= 'text', placeholder='Descripción motivo otro', name= 'motivoOtro' style='float:left' disabled)
              .form-group
                div(style='display:none').form-group#selectOpcionesArticulo
                  label(for='selectDerechoDisfrutar') #{textos[50].titulo}
                    select#selectDerechoDisfrutar.form-control(type= 'text', name= 'motivoArticulo51' style='float:left')
                      option(value='seleccionar') Seleccione una opción
                      option(value='Matrimonio') Matrimonio
                      option(value='Fallecimiento') Fallecimiento de familiar
                      option(value='Nacimiento Hijo') Nacimiento de Hijo
                      option(value='Diligencias') Diligencias personales justificadas
              .form-group
                div(style='display:none').form-group#selectOpcionesPermisosSinSalario
                  label(for='selectPermisosSinSalario') Tiempo:
                    select#selectPermisosSinSalario.form-control(type= 'text', name= 'permisosSinSalarioTipo' style='float:left' required)
                      each permisoSinSalario in permisosSinSalario
                        option(value= permisoSinSalario.id + ';' + permisoSinSalario.cantidadMeses) #{permisoSinSalario.nombre}
              .form-group
                div(style='display:none').form-group#selectOpcionesDepartamento
                  label(for='selectDepartamento') Departamento :
                    select#selectDepartamento.form-control(type= 'text', name= 'departamento' style='float:left')
                      each departamento, i in departamentosUsuario
                        option(value= departamento.id) #{departamento.nombre}
              .form-group
                div(style='display:none').form-group#divDerechoDisfrutarPorPeriodo
                  label#lblDerechoDisfrutarPorPeriodo(for='derechoDisfrutarPorPeriodo') Días con derecho a disfrutar :
                  input#derechoDisfrutarPorPeriodo.form-control(type= 'text', name= 'derechoDisfrutarPorPeriodo', disabled, value=infoPeriodos.diasDerechoDisfrutar)
              .form-group
                div(style='display:none').form-group#divDiasDisfrutadosPorPeriodo
                  label#lblDiasDisfrutadosPorPeriodo(for='diasDisfrutadosPorPeriodo') Días disfrutados:
                  input#diasDisfrutadosPorPeriodo.form-control(type= 'text', name= 'diasDisfrutadosPorPeriodo' disabled, value=infoPeriodos.diasDisfrutados)
              .form-group
                div(style='display:none').form-group#divTotalDiasDisponibles
                  label#lblTotalDiasDisponibles(for='totalDiasDisponibles') Total de días disponibles :
                  input#totalDiasDisponibles.form-control(type= 'text', name= 'totalDiasDisponibles', disabled, value=infoPeriodos.diasDisponibles)
              .form-group
                div(style='display:none').form-group#divInciso
                  label(for='selectInciso') Inciso:
                    select#selectInciso.form-control(type= 'text', name= 'inciso', style='float:left')
                      option(value='seleccionar') Seleccione una opción
                      option(value='Inciso A') Inciso A
                      option(value='Inciso B') Inciso B
                      option(value='Inciso C') Inciso C
              .form-group
                div(style='display:none').form-group#divcantidadDiasDisfrutados
                  label#lblcantidadDiasDisfrutados(for='cantidadDiasDisfrutados') Disfrutado:
                  input#cantidadDiasDisfrutados.form-control(type= 'text', name= 'cantidadDiasDisfrutados', disabled)
              .form-group
                div(style='display:none').form-group#divcantidadDiasDisponibles
                  label#lblcantidadDiasDisponibles(for='cantidadDiasDisponibles') Disponible:
                  input#cantidadDiasDisponibles.form-control(type= 'text', name= 'cantidadDiasDisponibles', disabled)
              .form-group
                div(style='display:none').form-group#divcantidadDiasSolicitados
                  label#lblcantidadDiasSolicitados(for='cantidadDiasSolicitados') Solicitado:
                  input#cantidadDiasSolicitados.form-control(type= 'text', name= 'cantidadDiasSolicitados' value='1' disabled)
              .form-group
                div(style='display:none').form-group#divsaldoDiasDisfrutar
                  label#lblsaldoDiasDisfrutar(for='saldoDiasDisfrutar') Dias disfrutados:
                  textarea#saldoDiasDisfrutar.form-control(rows="4" cols="20" name= 'saldoDiasDisfrutar', disabled)
              .form-group
                div(style='display:none').form-group#divanno
                  label#lblanno(for='anno') Año:
                  input#anno.form-control(type= 'text', name= 'anno', disabled)
              .form-group
                label(for='detalle') #{textos[52].titulo}
                  textarea#detalle.form-control(rows="4" cols="50" name='detalle' required)

              button#btn-permiso.btn.btn-success #{textos[44].titulo}
              button#btn-permiso-cancelar.btn.btn-default(type='button', data-dismiss='modal') #{textos[45].titulo}


#addJustificacion.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Justificación
      .modal-body
        form.formJust(role='form', method="POST")#login-form.well.span4
          .form-group
            label(for='selectMotivoJust') #{textos[50].titulo}
              select#selectMotivoJust.form-control(type= 'text', name= 'motivoJust' style='float:left' required)
                option(value='seleccionar') Seleccione una opción
                option(value='Tardía') Tardía
                option(value='Omisión de Marca') Omisión de Marca
                option(value='Ausencia') Ausencia
                option(value='Otro') Otro
            label(for='motivoOtroJust') #{textos[51].titulo}
              input#motivoOtroJust.form-control(type= 'text', placeholder='Otro', name= 'motivoOtroJust' style='float:left' disabled)
          .form-group
              label(for='detalles') #{textos[52].titulo}
              textarea#detalles.form-control(rows="4" cols="50" name='detalle' required)

          button#btn-just.btn.btn-success(type='submit') #{textos[44].titulo}
          button#btn-just-cancelar.btn.btn-default(type='button', data-dismiss='modal') #{textos[45].titulo}

#updateJustificacion.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Justificación
      .modal-body
        form#solicitud-extra-form(role='form', method="POST", action="/justificacionEmpleado").well.span4
          .form-group
            label(for='motivoOtroJust') Motivo:
              label#motivoOtroJust.form-control(style='float:left')
            br
            label Información:
              label#infoJust.form-control(style='float:left')
            br
            label Comentario del supervisor:
              label#comentSupervisor.form-control(style='float:left')
          .form-group
              label(for='detalles') Detalle:
              textarea#detalles.form-control(rows="4" cols="50" required name="detalle")
              input#identificador.input-small(type="text", name='identificador', required ,  hidden='true')
              input#motivoOtroJust.input-small(type="text", name='motivoOtroJust' ,required  , hidden='true')
          button.btn.btn-success(type='submit') Enviar
          button.btn.btn-default(type='button', data-dismiss='modal') Cancelar


input(id='ipOrigen',name='ipOrigen' ,value='', style='display:none')
//Ventana modal que se abre al inicio dee la pagina escritoroUsuario.jade en caso de que hayan justificaciones pendientes

#mostrarSolicitudes.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel.modal-title Justificaciones pendientes
        textarea#detalleJustificacionMasa.detalleJustificacionMasa.form-control(rows="4" cols="50" name='motivo' required ,style='display:none')
        button#botonJustificacionMasa.btn.btn-success(type='button',style='display:none' ) Justificaciones en masa
      .modal-body
          .row
              .col-xs-4
              div.justTable.table-responsive
                div
                  table#tablaJust.footable(data-page-navigation=".pagination" data-page-size="4" )
                    thead
                      tr
                        th(data-sort-ignore="true" data-type="numeric" ) En masa
                        th(data-sort-ignore="true" data-type="numeric" ) Fecha creada
                        th(data-sort-ignore="true" data-type="numeric" ) Fecha justificada
                        th(data-sort-ignore="true") Motivo
                        th(data-sort-ignore="true" data-type="numeric" ) Información
                        th Justificar
                    tbody.justDetalle
                      each just, i in justificaciones
                        tr
                          td
                            input.justificarMasaUsuario(type='checkbox',checked=false, id='justificarMasaUsuario' ,value=just._id+":/"+just.motivo)
                          td #{just.fecha.str}
                          td #{just.fechaJust.str}
                          td #{just.motivo}
                          td #{just.informacion}
                          td
                            button.btn.btn-success(type='button',data-toggle="modal", data-target="#updateJustificacion" ,data-value=just._id ) Justificar
                    tfoot
                      tr
                        td(colspan='8')
                          .pagination.pagination-centered.hide-if-no-paging




