.col-xs-4.col-sm-offset-2.col-md-offset-3.col-lg-offset-4
    h3#labelIMEC(class="text-center")
      |#{textos[0].titulo}
    table.footable(data-page-size="12")
      thead
        tr
          th #{textos[1].titulo}
          th #{textos[2].titulo}
          th #{textos[3].titulo}
      tbody
        tr
          td #{textos[4].titulo}
          form(action= '/departamento')
            td
              button#empleados.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addDep")
                i.icon-plus.icon-large
            td
              button#areas.btn.btn-primary(type = 'submit', name='eliminar',  onclick= "/departamento")
                i.icon-edit.icon-large
        tr

          td #{textos[5].titulo}
          form(action= '/horarioN')
            td
              div.dropdown
                        button.btn.btn-success.dropdown-toggle(type='button',data-toggle="dropdown")
                          i.icon-plus.icon-large
                          span.caret
                        ul.dropdown-menu
                          li
                              button.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addHorario") #{textos[23].titulo}
                                i.icon-plus.icon-large
                          li
                              button.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addHorarioLibre") #{textos[24].titulo}
                                i.icon-plus.icon-large

                              button.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addHorarioPersonalizado") #{textos[25].titulo}
                                i.icon-plus.icon-large

                          li
                              a.btn.btn-success(href='/horarioMasa' style='color:white') #{textos[26].titulo}
                                i.icon-plus.icon-large

            td
              button#areas.btn.btn-primary(type = 'submit', name='eliminar',  onclick= "/horarioN")
                i.icon-edit.icon-large
        tr
          td #{textos[6].titulo}
          form(action= '/empleado')
            td
              button#empleados.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addEmpl")
                i.icon-plus.icon-large
            td
              button#areas.btn.btn-primary(type = 'submit', name='eliminar',  onclick= "/empleado")
                i.icon-edit.icon-large
        tr
          td #{textos[7].titulo}
            td
              button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="#asignarFeriado")
                i.icon-plus.icon-large

            td
              form(action= '/feriado')
                button.btn.btn-primary(type = 'submit')
                  i.icon-edit.icon-large

        tr
        td #{textos[8].titulo}
          td
            button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="#asignarCorreo")
              i.icon-plus.icon-large

          td
            form(action= '/correo')
              button.btn.btn-primary(type = 'submit')
                i.icon-edit.icon-large

        tr
        td #{textos[9].titulo}
          td
            button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="#asignarRed")
              i.icon-plus.icon-large

          td
            form(action= '/red')
              button.btn.btn-primary(type = 'submit')
                i.icon-edit.icon-large

        tr
        td #{textos[10].titulo}
          td
            button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="#asignarContenido" disabled="true")
              i.icon-plus.icon-large

          td
            form(action= '/contenido')
              button.btn.btn-primary(type = 'submit')
                i.icon-edit.icon-large

        tr
          td Configuración de Alertas
            td
              button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="" disabled="true")
                i.icon-plus.icon-large

            td
              form(action= '/configuracionAlertas')
                button.btn.btn-primary(type = 'submit')
                  i.icon-edit.icon-large

        tr
          td Correos Recursos humanos
            td
              button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="#asignarCorreoRH")
                i.icon-plus.icon-large

            td
              form(action= '/correoRH')
                button.btn.btn-primary(type = 'submit')
                  i.icon-edit.icon-large

.col-xs-2
  #addHorarioPersonalizado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[15].titulo}
          .modal-body
            form(role='form', method="POST", action="/agregarHorarioPersonalizado")#login-form.well.span4
              .form-group
                label(for='nombre' style="float:left") #{textos[16].titulo}
                input.form-control( type="text", name="nombreHorarioPersonalizado",id="nombreHorarioPersonalizado")
              .form-group
                h4 #{textos[17].titulo}
                - var dias = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"];
                each dia in dias
                  - var strEntrada =  dia+"HoraEntrada";
                  - var strSalida =  dia+"HoraSalida";
                  - var strDia =  dia.charAt(0).toUpperCase() + dia.slice(1);
                  label #{strDia}:
                    br
                    label(for = strEntrada) #{textos[18].titulo}
                      div#timepicker.input-group
                        input.input-small.form-control(type="text", name= strEntrada, id=strEntrada)
                        span.input-group-addon
                          i.icon-time
                    label(for = strSalida) #{textos[19].titulo}
                      div#timepicker1.input-group
                        input.input-small.form-control(type="text", name= strSalida, id=strSalida)
                        span.input-group-addon
                          i.icon-time
                    label(for = "tiempoAlmuerzo") #{textos[21].titulo}
                      div#timepicker3.input-group
                        input.input-small.form-control(type="text", name= "tiempoAlmuerzo", id= "tiempoAlmuerzo")
                        span.input-group-addon
                          i.icon-time
                    label(for = "tiempoReceso") #{textos[20].titulo}
                      div#timepicker5.input-group
                        input.input-small.form-control(type="text", name= "tiempoReceso", id= "tiempoReceso")
                        span.input-group-addon
                          i.icon-time

              button.btn.btn-success(type='submit') #{textos[13].titulo}
              button.btn.btn-danger(type='button', data-dismiss='modal') #{textos[14].titulo}


.col-xs-2
  #asignarHorario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Asignar horario a empleado
          .modal-body
            form#asignar-horario-form.well.span4
              .form-group
                h4 Empleado
                select.form-control#selectFiltro.selectpicker(data-style="btn-success", data-width="auto", type="text", name="usuario")
                  each user in usuarios
                    option(value= user._id) #{user.apellido1} #{user.apellido2}, #{user.nombre}
              .form-group
                h4 Información de jornada
                - var dias = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"];
                each dia in dias
                  - var strEntrada =  dia+"HoraEntrada";
                  - var strSalida =  dia+"HoraSalida";
                  - var strDia =  dia.charAt(0).toUpperCase() + dia.slice(1);
                  label #{strDia}:
                  br
                  label(for = strEntrada) Hora de Inicio:
                    div#timepicker.input-group
                      input.input-small.form-control(type="text", name= strEntrada, id=strEntrada)
                      span.input-group-addon
                        i.icon-time
                  label(for = strSalida) Hora de salida:
                    div#timepicker1.input-group
                      input.input-small.form-control(type="text", name= strSalida, id=strSalida)
                      span.input-group-addon
                        i.icon-time
                label(for = "tiempoAlmuerzo") Tiempo de almuerzo:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "tiempoAlmuerzo", id= "tiempoAlmuerzo")
                    span.input-group-addon
                      i.icon-time
                label(for = "tiempoReceso") Tiempo de receso:
                  div#timepicker5.input-group
                    input.input-small.form-control(type="text", name= "tiempoReceso", id= "tiempoReceso")
                    span.input-group-addon
                      i.icon-time

              button.btn.btn-success(type='submit') Asignar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar


  //agregar departamento
  #addDep.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[11].titulo}
          .modal-body
            form(role='form', method="POST", action="/departamento")#login-form.well.span4
              .form-group
                  label(for='nombre') #{textos[12].titulo}
                    input#group.form-control( type="text", placeholder='#{textos[12].titulo}', name= "nombre")
              .form-group
                label(for='selectDepartamentos') Departamento Supervisor:
                  br
                  select.form-control#selectDepartamentosAgregar.selectpicker(data-style="btn-inverse", data-width="200px", data-selected-text-format="count>2", type="text", name="departamentoSupervisor")
                    option(value='') Seleccione una opción
                    each departamento, i in departamentos
                      option(value= departamento.id) #{departamento.nombre}
              button.btn.btn-success(type='submit') #{textos[13].titulo}
              button.btn.btn-danger(type='button', data-dismiss='modal') #{textos[14].titulo}


  //agregar empleados
  #addEmpl.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style="width:700px;")
      .modal-content
        .modal-body
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3#myModalLabel.modal-title Añadir nuevo Empleado
          form#agregarEmpleadoFormulario(role='form', method="POST", action="/empleado")
              .form-group
                h3 Información Básica
                label(for='nombre') Nombre:
                  input#nombre.form-control(type= 'text', placeholder='Carlos', name= 'nombre')
                label(for='apellido1') Primer Apellido:
                  input#apellido1.form-control(type= 'text', placeholder='Corella', name= 'apellido1')
                label(for='apellido2') Segundo Apellido:
                  input#apellido2.form-control(type= 'text', placeholder='Sandi', name='apellido2')
              .form-group
                label(for='cedula') Cédula:
                  input#cedula.form-control(type= 'text', placeholder='110459625', name='cedula')
                label(for='email') Correo Eléctronico:
                  input#email.form-control(type= 'email', placeholder='alguien@ejemplo.com', name='email')
              .form-group
                h3 Información Laboral
                label(for="usernameInput")
                  |Usuario:
                  input.form-control#username(type="text", name="username", placeholder="Usuario")
                label(for='codTarjeta') Código de Empleado:
                  input#codTarjeta.form-control(type= 'text', placeholder='Código de Empleado', name='codTarjeta')
              .form-group
                label Horario libre:
                  br
                  select.form-control#textInput.selectpicker(data-style="btn-inverse", data-width="200px", type="text", name="idHorario")
                    option(value="") Sin horario
                    each horario, i in horarios
                        option(value= horario.id) #{horario.nombre}

                label(for='textInput') Horario Fijo:
                  br
                  select.form-control#textInput.selectpicker(data-style="btn-inverse", data-width="200px", type="text", name="horarioFijo")
                    option(value="") Sin horario
                    each horarioFijo, i in arregloHorarioFijo
                        option(value= horarioFijo._id) #{horarioFijo.nombre}

                label(for='textInput') Horario personalizado:
                  br
                  select.form-control#textInput.selectpicker(data-style="btn-inverse", data-width="200px", type="text", name="personalizado")
                    option(value="") Sin horario
                    each personalizado, i in horarioPersonalizado
                        option(value=personalizado._id) #{personalizado.nombreHorarioPersonalizado}

              .form-group
                label(for='selectDepartamentos') Departamento:
                  br
                  select.form-control#selectDepartamentos.selectpicker(data-style="btn-inverse", data-width="200px", data-selected-text-format="count>2", type="text", name="idDepartamento")
                    option(value='Sin Departamento') Seleccione una opción
                    each departamento, i in departamentos
                      option(value= departamento.id) #{departamento.nombre}

                label(for="selectTipo") Tipo de Usuario:
                  br
                  select.form-control#selectTipo.selectpicker(data-style="btn-inverse", data-width="200px", type="text", name="tipo")
                    option Seleccione una opción
                    option Empleado
                    option Supervisor
                    option Administrador
                    option #{tipoEmpleado}
                    option #{empleadoProfesor}
                    option Administrador de Reportes

                label(for="selectTipo")
                  br
                  button.btn.btn-info(type='button', onclick='agregarRolDepartamento()') Agregar
              .form-group
                input.form-control(type="hidden" id="rolesDepartamento", name="rolesDepartamento")
                ul#listDepartamentos
              .form-group
                label.labelFiltro(for='fechaIngreso') Fecha Ingreso:
                  input#fechaIngreso.form-control(style="cursor:pointer; cursor: hand;", type="text", name='fechaIngreso', readonly="readonly", placeholder="Fecha Ingreso" )

                label.labelTeletrabajo(for='teleTrabajo') Tele trabajo:
                  input#teleTrabajo.form-control(type='checkbox', checked=false, name="teleTrabajo")

              .form-group
                label(for="passInput")
                  |Contraseña:
                  input.form-control#passInput(type='password', size='18', name="password", placeholder="Contraseña")
                button.btn.btn-default.botonGenerarContrasena(type='button', onclick='generatepass(8)') Generar Contraseña
                label#passInputText

            button.btn.btn-success#agregarEmpleado(type='button') Ingresar
            button.btn.btn-danger#clearLabel(type='button', data-dismiss='modal', style='margin-left:10px;') Cancelar

  //
  #addHorario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[15].titulo}
          .modal-body
            form(action='/horarioFijo', method='post')#login-form.well.span4
              .form-group
                h4 #{textos[17].titulo}
                label(for='nombre' style="float:left;margin-right:10px;") #{textos[16].titulo}
                  input.form-control#textInput( type="text", name="nombre")
                label.labelHorarioFijo(style="margin-left: 4px;") L
                label.labelHorarioFijo(style="margin-left: 6px;") K
                label.labelHorarioFijo(style="margin-left: 5px;") M
                label.labelHorarioFijo(style="margin-left: 6px;") J
                label.labelHorarioFijo(style="margin-left: 7px;") V
                label.labelHorarioFijo(style="margin-left: 6px;") S
                label.labelHorarioFijo(style="margin-left: 7px;") D
                .from-group
                  input.checkboxHorarioFijo(type='checkbox',name='Lunes',id='Lunes',value='Lunes')
                  input.checkboxHorarioFijo(type='checkbox',name='Martes',id='Martes',value='Martes')
                  input.checkboxHorarioFijo(type='checkbox',name='Miercoles',id='Miercoles',value='Miercoles')
                  input.checkboxHorarioFijo(type='checkbox',name='Jueves',id='Jueves', value='Jueves')
                  input.checkboxHorarioFijo(type='checkbox',name='Viernes',id='Viernes',value='Viernes')
                  input.checkboxHorarioFijo(type='checkbox',name='Sabado',id='Sabado',value='Sabado')
                  input.checkboxHorarioFijo(type='checkbox',name='Domingo',id='Domingo',value='Domingo')

              .form-group
                label(for='horaEntrada') #{textos[18].titulo}
                  div#timepicker5.input-group
                    input.input-small.form-control(type="text", name= 'horaEntrada')
                    span.input-group-addon
                      i.icon-time
                label(for='horaSalida') #{textos[19].titulo}
                  div#timepicker6.input-group
                    input.input-small.form-control(type="text", name= 'horaSalida')
                    span.input-group-addon
                      i.icon-time

              .form-group
                label(for='tiempoReceso') #{textos[20].titulo}
                  div#timepicker2.input-group
                    input.input-small.form-control(type="text", name= 'tiempoReceso')
                    span.input-group-addon
                      i.icon-time
                label(for='tiempoAlmuerzo') #{textos[21].titulo}
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= 'tiempoAlmuerzo')
                    span.input-group-addon
                      i.icon-time

              button.btn.btn-success(type='submit') #{textos[13].titulo}
              button.btn.btn-danger(type='button', data-dismiss='modal') #{textos[14].titulo}


  #addHorarioLibre.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[15].titulo}
          .modal-body
            form(action='/horarioN', method='post')#login-form.well.span4
              .form-group
                h4 #{textos[17].titulo}
                label(for='nombre' style="float:left") #{textos[16].titulo}
                  input.form-control#textInput( type="text", name="nombre")

                label(for='rango') #{textos[22].titulo}
                  div#timepicker5.input-group
                    input.input-small.form-control(type="text", name= 'rangoJornada')
                    span.input-group-addon
                      i.icon-time

              .form-group
                label(for='tiempoReceso') #{textos[20].titulo}
                  div#timepicker2.input-group
                    input.input-small.form-control(type="text", name= 'tiempoReceso')
                    span.input-group-addon
                      i.icon-time
                label(for='tiempoAlmuerzo') #{textos[21].titulo}
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= 'tiempoAlmuerzo')
                    span.input-group-addon
                      i.icon-time

              button.btn.btn-success(type='submit') Ingresar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar

  #asignarFeriado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[27].titulo}
          .modal-body
            form(action='/asignarFeriado', method='post')#login-form.well.span4
              .form-group
                h4 #{textos[17].titulo}
                label(for='nombre' style="float:left") #{textos[28].titulo}
                  input.form-control#textInput( type="text", name="nombreFeriado")

                label.labelFiltro(for='fechaHasta') #{textos[29].titulo}
                  div.input-group
                    input#date_range_end.form-control(type='text', name='date')
                    span.input-group-addon
                      i.icon-calendar


              button.btn.btn-success(type='submit') #{textos[13].titulo}
              button.btn.btn-danger(type='button', data-dismiss='modal') #{textos[14].titulo}

  #asignarCorreo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[30].titulo}
          .modal-body
            form(action='/asignarCorreo', method='post')#login-form.well.span4
              .form-group
                h4 #{textos[17].titulo}
                label(for='nombre' style="float:left") #{textos[31].titulo}
                  input.form-control#textInput( type="email", name="nombreCorreo",required)
                label(for='nombre' style="float:left") #{textos[32].titulo}
                  input.form-control#textInput( type="text", name="dominioCorreo",required)
                label(for='nombre' style="float:left") #{textos[33].titulo}
                  input.form-control#textInput(type="password", name="password",required)
                div.clearfix
                button.btn.btn-success(type='submit') #{textos[13].titulo}
                button.btn.btn-danger(type='button', data-dismiss='modal') #{textos[14].titulo}

  #asignarContenido.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title #{textos[36].titulo}
          .modal-body
            form(action='/asignarContenido', method='post')#login-form.well.span4
              .form-group
                h4 #{textos[17].titulo}
                label(for='nombre' style="float:left") #{textos[37].titulo}
                  input.form-control#textInput( type="text", name="titulo",required)
                label(for='nombre' style="float:left") #{textos[38].titulo}
                  input.form-control#textInput( type="text", name="llave",required)
                label(for='nombre' style="float:left") #{textos[39].titulo}
                  input.form-control#textInput(type="text", name="seccion",required)
                div.clearfix
                button.btn.btn-success(type='submit') #{textos[13].titulo}
                button.btn.btn-danger(type='button', data-dismiss='modal') #{textos[14].titulo}

  #asignarRed.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title #{textos[34].titulo}
        .modal-body
          form(action='/asignarRed', method='post')#login-form.well.span4
            .form-group
              h4 #{textos[17].titulo}
              label(for='nombre' style="float:left") #{textos[35].titulo}
                input.form-control#textInput( type="text", name="nombreRed",required)
              div.clearfix
              button.btn.btn-success(type='submit') #{textos[13].titulo}
              button.btn.btn-danger(type='button', data-dismiss='modal') #{textos[14].titulo}
  #asignarCorreoRH.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Asignar Correo Recursos Humanos
        .modal-body
          form(action='/asignarCorreoRH', method='post')#login-form.well.span4
            .form-group
              h4 #{textos[17].titulo}
              label(for='nombre' style="float:left") Correo:
                input.form-control#textInput( type= 'email', name="nombreCorreoRH",required)
              div.clearfix
              button.btn.btn-success(type='submit') #{textos[13].titulo}
              button.btn.btn-danger(type='button', data-dismiss='modal') #{textos[14].titulo}
