extends layoutEmpl

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet', href='/stylesheets/jquery.tzineClock/jquery.tzineClock.css')
  link(rel='stylesheet', href='/stylesheets/jquery.tzineClockstyles.css')
  


block imgSession
block gcsNavbarItems
  ul.nav.navbar-nav
block content

  
  .container
    .col-xs-8
      h3 Marcas Personales
      
      ol
        if (!marca)
         table.table.table-hover 

          tr
              td #Empl 
              td Tipo Marca
              td Dia
              td mes
              td Año
              td Hora
              td Minutos
              td Segundos
                          
          each marca, i in marcas

           if (marca.codTarjeta == usuario.codTarjeta) 
            tr
              td #{marca.codTarjeta}
              td #{marca.tipoMarca}
              td #{marca.dia}
              td #{marca.mes}
              td #{marca.ano}
              td #{marca.hora}
              td #{marca.minutos}
              td #{marca.segundos}
                     
        else 
          h1 no hay marcas registradas
            
    .col-xs-4
     h3 Eventos Pendientes   
     ul.list-group
        li.list-group-item
            span.badge 0
            | Solicitud Ausencias
        li.list-group-item
            span.badge 0
            | Justificaciones
        li.list-group-item
            span.badge 0
            | Solicitudes J.extra
    
          
    div.container
    .col-xs-2
    .col-xs-8
      div#containerCentral
        h3  Marca Mediante el Sistema
        div#contBotones
          div#Marca             
           button#marca.btn.btn-success(name='marcar', onclick= "changeElemt('marca')", data-toggle="modal" data-target="#addMarca") Realizar Marca
            
    .col-xs-2      
      //modal para realizar marcas
      #addMarca.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        
        .modal-dialog
            .modal-content
              
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h1#myModalLabel.modal-title SIGUCA
                h3#myModalLabel.modal-title Marcar Mediante Sistema

              .modal-body
               table.table 
                 form.marcas(role='form', method="POST", action="/marca")
                  tr
                    modal.group     
                       label-info( name= codTarjeta)  Empleado # #{usuario.codTarjeta}
                  tr
                    modal.group     
                          td
                            
                            button.btn.btn-success(type='submit', value = 'entrada', name = 'marca') Entrada
                    modal.group
                          td
                            button.btn.btn-success(type='submit' , value = 'salida', name = 'marca') Salida
                  tr
                    modal.group     
                          td
                            button.btn.btn-warning(type='submit', value = 'salidaReceso', name = 'marca') Salida Receso
                    modal.group
                          td
                            button.btn.btn-warning(type='submit', value = 'entradaReceso', name = 'marca') Entrada Receso          
                  tr
                    modal.group     
                          td
                            button.btn.btn-primary(type='submit', value = 'salidaAlmuerzo', name = 'marca') Salida Almuerzo
                    modal.group
                          td
                            button.btn.btn-primary(type='submit', value = 'entradaAlmuerzo', name = 'marca') Entrada Almuerzo                    
                  tr   
                    modal.group
                      td             
                          button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
                .container
                   #fancyClock    
              .modal-footer    
   
        
block sigucaJS
  script(type='text/javascript', src='/javascripts/demo/jquery.tzineClock/jquery.tzineClock.js')
  script(type='text/javascript', src='/javascripts/demo/script.js')
 