extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/cal-heatmap.css')

block content   
    .container
      .col-xs-8
        h3 Gráfico de:  #{usuario.username}
        button#previous.btn.btn-default
          i.icon.icon-chevron-left
        button#next.btn.btn-default 
          i.icon.icon-chevron-right
        div#cal
        input#usuario(type='hidden', value=usuario.id)      
      .col-xs-4
       h3 Filtros   
       div.filter
                 label#tHorario(for='horario') 
                   |Soporte Técnico
            
             div.filter
                  label#departamento(for='departamento') 
                   |Departamentos: 
                  .btn-group
                     .btn-group
                    select.form-control#selectFiltro(type="text", name="idSupervisor") 
                        option(value= "todos," + todos) Mí gráfico
                        each item, i in departamentos
                          option(value= item.departamento.id) #{item.departamento.nombre} 

      .col-xs-4
      .col-xs-4
        
      .col-xs-4
        h3 Solicitudes 
        ul.list-group
          li.list-group-item
            a(data-toggle="modal" data-target="#horaExtra")
              | Solicitud de hora extraordinaria
          li.list-group-item
            a(data-toggle="modal" data-target="#permiso")
              | Solicitud de permiso anticipado
        
      .col-xs-4
        h3 Pendientes de revisar 
        ul.list-group
          li.list-group-item
            a(href='/Configuracion')
              span.badge #{solicitudes}
              |   Solicitudes
          li.list-group-item
            a(href='/Configuracion')
              span.badge #{justificaciones} 
              |   Justificaciones
      #horaExtra.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4#myModalLabel.modal-title Solicitar hora extraordinaria
                .modal-body
                  form(role='form', method="POST", action="/solicitud_extra")#login-form.well.span4
                    .form-group
                      label(for='fecha') Día:
                        input#fecha.form-control(type='text', name='diaInicio', placeholder='Fecha')
                      label(for='horaFinal') Hora de Salida:
                        input#horaFinal.form-control(type= 'text', placeholder='Hora de salida de horas extras', name= 'horaFinal')
                    .form-group
                      label(for='motivo') Motivo:
                      textarea#motivo.form-control(rows="4" cols="50" name='motivo')
                      
                                                   
                    button.btn.btn-default(type='submit') Ingresar
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
     
                .modal-footer  
      #permiso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4#myModalLabel.modal-title Solicitar permiso anticipado
                .modal-body
                  form(role='form', method="POST", action="/solicitud_permisos")#login-form.well.span4
                    .form-group
                      label(for='diaInicio') Día Inicial:
                        input#diaInicio.form-control(type='text', name='diaInicio', placeholder='Fecha Inicial')
                      label(for='diaFinal') Día Final:
                        input#diaFinal.form-control(type= 'text', placeholder='Fecha Final', name= 'diaFinal')
                    .form-group
                      label(for='motivo') Motivo:
                      textarea#motivo.form-control(rows="4" cols="50" name='motivo')
                                                                         
                    button.btn.btn-default(type='submit') Ingresar
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
     
                .modal-footer  
                
block sigucaJS
  script(src="/socket.io/socket.io.js")
  script( src='/js/sigucaHome.js')
  script(src="/js/d3.min.js")
  script(src="/js/cal-heatmap.js")
  //script(src='/js/horasExtras.js')