.col-xs-4.col-sm-offset-2.col-md-offset-3.col-lg-offset-4
    h3#labelIMEC(class="text-center")
      |IMEC:
    table.footable
      thead
        tr
          th Acción
          th Nuevo
          th Modificar o eliminar
      tbody
        tr
          td Departamento:
          form(action= '/departamento')
            td
              button#empleados.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addDep")
                i.icon-plus.icon-large
            td
              button#areas.btn.btn-primary(type = 'submit', name='eliminar',  onclick= "/departamento")
                i.icon-edit.icon-large
        tr
        
          td Horarios:
          form(action= '/horarioN')    
            td
              div.dropdown
                        button.btn.btn-success.dropdown-toggle(type='button',data-toggle="dropdown") 
                          i.icon-plus.icon-large
                          span.caret
                        ul.dropdown-menu
                          li
                              button.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addHorario") Horario Fijo
                                i.icon-plus.icon-large 
                          li
                              button.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addHorarioLibre") Horario libre
                                i.icon-plus.icon-large 

                              button.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addHorarioPersonalizado") Horario personalizado
                                i.icon-plus.icon-large 

                          li
                              a.btn.btn-success(href='/horarioMasa' style='color:white') Horario en masa
                                i.icon-plus.icon-large 
                  
            td
              button#areas.btn.btn-primary(type = 'submit', name='eliminar',  onclick= "/horarioN")
                i.icon-edit.icon-large
        tr
          td Empleado:
          form(action= '/empleado')     
            td
              button#empleados.btn.btn-success(name='agregar', data-toggle="modal" data-target="#addEmpl") 
                i.icon-plus.icon-large
            td
              button#areas.btn.btn-primary(type = 'submit', name='eliminar',  onclick= "/empleado")
                i.icon-edit.icon-large
        tr
          td Feriado:  
            td
              button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="#asignarFeriado")
                i.icon-plus.icon-large
                    
            td
              form(action= '/feriado')    
                button.btn.btn-primary(type = 'submit')
                  i.icon-edit.icon-large
    
        tr
        td Correo:  
          td
            button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="#asignarCorreo")
              i.icon-plus.icon-large
                  
          td
            form(action= '/correo')    
              button.btn.btn-primary(type = 'submit')
                i.icon-edit.icon-large

        tr
        td Redes:  
          td
            button.btn.btn-success(type = 'submit' data-toggle="modal" data-target="#asignarRed")
              i.icon-plus.icon-large
                  
          td
            form(action= '/red')    
              button.btn.btn-primary(type = 'submit')
                i.icon-edit.icon-large



.col-xs-2  
  #addHorarioPersonalizado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Asignar horario a empleado
          .modal-body
            form(role='form', method="POST", action="/agregarHorarioPersonalizado")#login-form.well.span4
              .form-group
                label(for='nombre' style="float:left") Nombre del feriado:
                input.form-control( type="text", name="nombreHorarioPersonalizado",id="nombreHorarioPersonalizado")     
              .form-group
                h4 Información de jornada
                - var dias = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"];
                each dia in dias    
                  - var strEntrada =  dia+"HoraEntrada";
                  - var strSalida =  dia+"HoraSalida";
                  - var strDia =  dia.charAt(0).toUpperCase() + dia.slice(1);
                  label #{strDia}:
                  br
                  label(for = strEntrada) Hora de Inicio:
                    div#timepicker.input-group
                      input.input-small.form-control(type="text", name= strEntrada, id=strEntrada)
                      span.input-group-addon
                        i.icon-time
                  label(for = strSalida) Hora de salida:
                    div#timepicker1.input-group
                      input.input-small.form-control(type="text", name= strSalida, id=strSalida)
                      span.input-group-addon
                        i.icon-time
                label(for = "tiempoAlmuerzo") Tiempo de almuerzo:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "tiempoAlmuerzo", id= "tiempoAlmuerzo")
                    span.input-group-addon
                      i.icon-time
                label(for = "tiempoReceso") Tiempo de receso:
                  div#timepicker5.input-group
                    input.input-small.form-control(type="text", name= "tiempoReceso", id= "tiempoReceso")
                    span.input-group-addon
                      i.icon-time
                 
              button.btn.btn-success(type='submit') Asignar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
    
 
.col-xs-2  
  #asignarHorario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Asignar horario a empleado
          .modal-body
            form#asignar-horario-form.well.span4
              .form-group
                h4 Empleado
                select.form-control#selectFiltro.selectpicker(data-style="btn-success", data-width="auto", type="text", name="usuario") 
                  each user in usuarios
                    option(value= user._id) #{user.apellido1} #{user.apellido2}, #{user.nombre} 
              .form-group
                h4 Información de jornada
                - var dias = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"];
                each dia in dias    
                  - var strEntrada =  dia+"HoraEntrada";
                  - var strSalida =  dia+"HoraSalida";
                  - var strDia =  dia.charAt(0).toUpperCase() + dia.slice(1);
                  label #{strDia}:
                  br
                  label(for = strEntrada) Hora de Inicio:
                    div#timepicker.input-group
                      input.input-small.form-control(type="text", name= strEntrada, id=strEntrada)
                      span.input-group-addon
                        i.icon-time
                  label(for = strSalida) Hora de salida:
                    div#timepicker1.input-group
                      input.input-small.form-control(type="text", name= strSalida, id=strSalida)
                      span.input-group-addon
                        i.icon-time
                label(for = "tiempoAlmuerzo") Tiempo de almuerzo:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "tiempoAlmuerzo", id= "tiempoAlmuerzo")
                    span.input-group-addon
                      i.icon-time
                label(for = "tiempoReceso") Tiempo de receso:
                  div#timepicker5.input-group
                    input.input-small.form-control(type="text", name= "tiempoReceso", id= "tiempoReceso")
                    span.input-group-addon
                      i.icon-time
                 
              button.btn.btn-success(type='submit') Asignar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
    

  //agregar departamento            
  #addDep.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Añadir nuevo departamento
          .modal-body
            form(role='form', method="POST", action="/departamento")#login-form.well.span4
              .form-group
                  label(for='nombre') Nombre:
                    input#group.form-control( type="text", placeholder='Nombre del area', name= "nombre")
              button.btn.btn-success(type='submit') Ingresar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar                


  //agregar empleados
  #addEmpl.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-body
          button.close(type='button', data-dismiss='modal', aria-hidden='true') × 
          h3#myModalLabel.modal-title Añadir nuevo Empleado
          form#agregarEmpleadoFormulario(role='form', method="POST", action="/empleado")
              .form-group
                h3 Información Básica
                label(for='nombre') Nombre:
                  input#nombre.form-control(type= 'text', placeholder='Carlos', name= 'nombre')
                label(for='cedula') Cédula:
                 input#cedula.form-control(type= 'text', placeholder='110459625', name='cedula') 
              .form-group
                label(for='apellido1') Primer Apellido:
                  input#apellido1.form-control(type= 'text', placeholder='Corella', name= 'apellido1')
                label(for='apellido2') Segundo Apellido:
                 input#apellido2.form-control(type= 'text', placeholder='Sandi', name='apellido2')   
                label(for='email') Correo Eléctronico:
                  input#email.form-control(type= 'email', placeholder='alguien@ejemplo.com', name='email')
                 
              .form-group 
                h3 Información Laboral
                label(for='codTarjeta') Código de Empleado:
                  input#codTarjeta.form-control(type= 'text', placeholder='Código de Empleado', name='codTarjeta')
                label(for="usernameInput")
                  |Usuario:
                  input.form-control#username(type="text", name="username", placeholder="Usuario")
                

                label Horario libre:
                  br
                  select.form-control#textInput.selectpicker(data-style="btn-inverse", data-width="140px", type="text", name="idHorario") 
                    option(value="") Sin horario  
                    each horario, i in horarios
                        option(value= horario.id) #{horario.nombre}
                     

                label(for='horario Fijo') Horario Fijo:
                  br
                  select.form-control#textInput.selectpicker(data-style="btn-inverse", data-width="140px", type="text", name="horarioFijo") 
                    option(value="") Sin horario 
                    each horarioFijo, i in arregloHorarioFijo
                        option(value= horarioFijo._id) #{horarioFijo.nombre} 

                label(for='horario Fijo') Horario personalizado:
                  br
                  select.form-control#textInput.selectpicker(data-style="btn-inverse", data-width="140px", type="text", name="personalizado") 
                    option(value="") Sin horario 
                    each personalizado, i in horarioPersonalizado
                        option(value=personalizado._id) #{personalizado.nombreHorarioPersonalizado} 


                label(for="tipoInput") Tipo de Usuario:
                  br
                  select.form-control#selectTipo.selectpicker(data-style="btn-inverse", data-width="140px", type="text", name="tipo", multiple="multiple") 
                    option Empleado
                    option Supervisor
                    option Administrador
                    option #{tipoEmpleado} 
                    option #{empleadoProfesor}

                label(for='departamento') Departamento:
                  br
                  select.form-control#selectDepartamentos.selectpicker(data-style="btn-success", data-width="150px", data-selected-text-format="count>2", type="text", name="idDepartamento", multiple="multiple") 
                    each departamento, i in departamentos
                        option(value= departamento.id) #{departamento.nombre} 
                
                label.labelFiltro(for='fechaIngreso') Fecha Ingreso:
                    input#fechaIngreso.form-control(style="cursor:pointer; cursor: hand;", type="text", name='fechaIngreso', readonly="readonly", placeholder="Fecha Ingreso" )
                    

              .form-group
                label(for="passwordInput")
                  |Contraseña:
                  input.form-control#passInput(type='password', size='18', name="password", placeholder="Contraseña")
                  label#passInputText
                  br
                  button.btn.btn-default(type='button', onclick='generatepass(8)') Generar Contraseña
                       
              button.btn.btn-success#agregarEmpleado(type='button') Ingresar
              button.btn.btn-danger#clearLabel(type='button', data-dismiss='modal') Cancelar

  //            
  #addHorario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Añadir nuevo horario
          .modal-body
            form(action='/horarioFijo', method='post')#login-form.well.span4
              .form-group
                h4 Información Básica
                label(for='nombre' style="float:left") Nombre del Horario:
                  input.form-control#textInput( type="text", name="nombre")     

                label(for='dias') L
                label(for='dias')  
                label(for='dias')
                label(for='dias') K
                label(for='dias')  
                label(for='dias')
                label(for='dias') M
                label(for='dias')  
                label(for='dias')
                label(for='dias') J
                label(for='dias')
                label(for='dias') 
                label(for='dias') V
                label(for='dias')  
                label(for='dias')
                label(for='dias') S
                label(for='dias')
                label(for='dias')  
                label(for='dias') D
                .from-group
                  input(type='checkbox',name='Lunes',id='Lunes',value='Lunes') 
                  input(type='checkbox',name='Martes',id='Martes',value='Martes') 
                  input(type='checkbox',name='Miercoles',id='Miercoles',value='Miercoles')
                  input(type='checkbox',name='Jueves',id='Jueves', value='Jueves')
                  input(type='checkbox',name='Viernes',id='Viernes',value='Viernes')
                  input(type='checkbox',name='Sabado',id='Sabado',value='Sabado')  
                  input(type='checkbox',name='Domingo',id='Domingo',value='Domingo')  

              .form-group
                label(for='horaEntrada') Hora de entrada:
                  div#timepicker5.input-group
                    input.input-small.form-control(type="text", name= 'horaEntrada')
                    span.input-group-addon
                      i.icon-time  
                label(for='horaSalida') Hora de salida:
                  div#timepicker6.input-group
                    input.input-small.form-control(type="text", name= 'horaSalida')
                    span.input-group-addon
                      i.icon-time

              .form-group
                label(for='tiempoReceso') Rango de receso:
                  div#timepicker2.input-group
                    input.input-small.form-control(type="text", name= 'tiempoReceso')
                    span.input-group-addon
                      i.icon-time  
                label(for='tiempoAlmuerzo') Rango de almuerzo:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= 'tiempoAlmuerzo')
                    span.input-group-addon
                      i.icon-time
                
              button.btn.btn-success(type='submit') Ingresar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar

 
  #addHorarioLibre.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Añadir nuevo horario
          .modal-body
            form(action='/horarioN', method='post')#login-form.well.span4
              .form-group
                h4 Información Básica
                label(for='nombre' style="float:left") Nombre del Horario:
                  input.form-control#textInput( type="text", name="nombre")     

                label(for='rango') Jornada laboral:
                  div#timepicker5.input-group
                    input.input-small.form-control(type="text", name= 'rangoJornada')
                    span.input-group-addon
                      i.icon-time     

              .form-group
                label(for='tiempoReceso') Rango de receso:
                  div#timepicker2.input-group
                    input.input-small.form-control(type="text", name= 'tiempoReceso')
                    span.input-group-addon
                      i.icon-time  
                label(for='tiempoAlmuerzo') Rango de almuerzo:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= 'tiempoAlmuerzo')
                    span.input-group-addon
                      i.icon-time
                 
              button.btn.btn-success(type='submit') Ingresar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar

  #asignarFeriado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Añadir nuevo feriado
          .modal-body
            form(action='/asignarFeriado', method='post')#login-form.well.span4
              .form-group
                h4 Información Básica
                label(for='nombre' style="float:left") Nombre del feriado:
                  input.form-control#textInput( type="text", name="nombreFeriado")     

                label.labelFiltro(for='fechaHasta') Fecha:
                  div.input-group
                    input#date_range_end.form-control(type='text', name='date')
                    span.input-group-addon
                      i.icon-calendar     

                 
              button.btn.btn-success(type='submit') Ingresar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar

  #asignarCorreo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Añadir correo
          .modal-body
            form(action='/asignarCorreo', method='post')#login-form.well.span4
              .form-group
                h4 Información Básica
                label(for='nombre' style="float:left") Cuenta de correo:
                  input.form-control#textInput( type="email", name="nombreCorreo",required)  
                label(for='nombre' style="float:left") @Dominio de correo:
                  input.form-control#textInput( type="text", name="dominioCorreo",required)       
                label(for='nombre' style="float:left") Contraseña:
                  input.form-control#textInput(type="password", name="password",required)    
                div.clearfix
                button.btn.btn-success(type='submit') Ingresar
                button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar


  #asignarRed.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Añadir correo
        .modal-body
          form(action='/asignarRed', method='post')#login-form.well.span4
            .form-group
              h4 Información Básica
              label(for='nombre' style="float:left") IP de red:
                input.form-control#textInput( type="text", name="nombreRed",required)      
              div.clearfix
              button.btn.btn-success(type='submit') Ingresar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar


  

