extends layout

block content
  div.container
      .info
       h3 #{textos[0].titulo}
       h4 #{usuario.apellido1} #{usuario.apellido2}, #{usuario.nombre}

      div.filter
        h3 #{textos[1].titulo}
        table
         form(role='form', method="POST", action="/filtrarEventosEmpl")
          td
            label.labelFiltro(for='date_range_start') #{textos[2].titulo}
              div.input-group
                input#date_range_start.form-control(type='text', name='fechaDesde')
                span.input-group-addon
                  i.icon-calendar
          td
            label.labelFiltro(for='date_range_end') #{textos[3].titulo}
              div.input-group
                input#date_range_end.form-control(type='text', name='fechaHasta')
                span.input-group-addon
                  i.icon-calendar
          td
            button.form-control.btn.btn-success(type='submit', name='filtrar') #{textos[4].titulo}
      br
      if(cierreUsuarios && cierreUsuarios.length>0)
        .col-xs-12
          h3 #{textos[38].titulo}
          table.tableCierres.footable(data-page-navigation=".pagination" data-page-size="5")
              thead
                tr
                  th(data-type="numeric" data-sort-initial="descending") #{textos[39].titulo}
                  th(data-sort-ignore="true") #{textos[40].titulo}
              tbody
                each cierre, i in cierreUsuarios
                  - var x = JSON.stringify(cierre);
                  - var tiempo ="";
                  - var h =""+cierre.tiempo.horas;
                  - var m =""+cierre.tiempo.minutos;
                  - if(cierre.tiempo.horas<10) h = "0"+h;
                  - if(cierre.tiempo.minutos<10) m = "0"+m;
                  - tiempo = h+":"+m;
                  - if(cierre.tiempo.horas < 0 || cierre.tiempo.minutos < 0){
                  -   tiempo = "El usuario se ausentó o no marcó salida."
                  - }
                  tr
                    td(data-value=cierre.epoch) #{cierre.fecha.str}
                    td #{tiempo}
              tfoot
                tr
                  td(colspan='10')
                    .pagination.pagination-centered.hide-if-no-paging
      .col-xs-12

        if(marcas.length != 0)
          h3 #{textos[9].titulo}
          table.footable.tableMarcas(data-page-navigation=".pagination" data-page-size="6")
              thead
                tr
                  th(data-type="numeric" data-sort-initial="descending")  #{textos[5].titulo}
                  th  #{textos[6].titulo}
                  th  #{textos[7].titulo}
                  th(data-sort-ignore="true")  #{textos[8].titulo}
              tbody
                each marca, i in marcas
                  tr
                    td(data-value=marca.epoch) #{marca.fecha.str}
                    td #{marca.tipoUsuario}
                    td #{marca.tipoMarca}
                    td
                      - var date = new Date();
                      - var epoch = (date.getTime() - date.getMilliseconds())/1000;
                      if(epoch - marca.epoch <= 500 && i == (marcas.length-1))
                        button.btn.btn-default.marcaDelete(value=marca.fecha+","+marca.id+","+marca.tipoMarca)
                          i.icon-trash.icon-large.i-danger
              tfoot
                tr
                  td(colspan='4')
                    .pagination.pagination-centered.hide-if-no-paging


      if(justificaciones.length != 0)
        .col-xs-12
          h3 #{textos[10].titulo}
          table.footable(data-page-navigation=".pagination" data-page-size="5")1
              thead
                tr
                  th(data-type="numeric" data-sort-initial="descending") #{textos[11].titulo}
                  th #{textos[12].titulo}
                  th(data-hide="phone,small" data-sort-ignore="true") #{textos[13].titulo}
                  th(data-hide="phone,small" data-sort-ignore="true") #{textos[14].titulo}
                  th #{textos[15].titulo}
                  th(data-hide="phone,small" data-sort-ignore="true") #{textos[16].titulo}
              tbody
                each justificacion, i in justificaciones
                  tr
                    td(data-value=justificacion.fechaCreada) #{justificacion.fecha.str}
                    td #{justificacion.motivo}
                    td #{justificacion.detalle}
                    td #{justificacion.comentarioSupervisor}
                    td #{justificacion.estado}
                    td
                      if(justificacion.estado == 'Pendiente')
                        button.btn.btn-default(data-toggle="modal" data-target="#editJust" value=justificacion._id)
                          i.icon-pencil.icon-large.i-success
              tfoot
                tr
                  td(colspan='6')
                    .pagination.pagination-centered.hide-if-no-paging


      if(horasExtra.length != 0)
        br
        h3 #{textos[17].titulo}

        table.footable(data-page-navigation=".pagination")#opcionesTablaHorasExtra
            thead
              tr
                th(data-type="numeric" data-sort-initial="descending") #{textos[18].titulo}
                th(data-sort-ignore="true") #{textos[19].titulo}
                th(data-sort-ignore="true") #{textos[20].titulo}
                th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[21].titulo}
                th(data-hide="phone,small,medium") #{textos[22].titulo}
                th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[23].titulo}
                th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[24].titulo}
                th #{textos[25].titulo}
                th(data-hide="phone,small" data-sort-ignore="true") #{textos[26].titulo}
            tbody
              each extra, i in horasExtra
                tr
                  td #{moment.unix(extra.fechaCreada).format("YYYY-MM-DD hh:mm:ss")}
                  td #{moment.unix(extra.fechaInicial).format("YYYY-MM-DD hh:mm:ss")}
                  td #{moment.unix(extra.fechaFinal).format("YYYY-MM-DD hh:mm:ss")}
                  td #{extra.tiempoSolicitadoTexto}
                  td #{extra.ubicacion}
                  td #{extra.motivo}
                  td #{extra.comentarioSupervisor}
                  td #{extra.estado}
                  td
                    if(extra.estado == 'Pendiente')
                      button.btn.btn-default(data-toggle="modal" data-target="#editExtra" value=extra._id)
                        i.icon-pencil.icon-large.i-success
            tfoot
              tr
                td(colspan='9')
                  .pagination.pagination-centered.hide-if-no-paging


      if(permisos.length != 0)
        br
        h3 #{textos[27].titulo}
        table#solicitudesTable.footable(data-page-navigation=".pagination")
            thead
              tr
                th(data-type="numeric" data-sort-initial="descending") #{textos[28].titulo}
                th #{textos[29].titulo}
                th #{textos[30].titulo}
                //th(data-hide="phone,small,medium") #{textos[31].titulo}
                th(data-hide="phone,small,medium") #{textos[32].titulo}
                th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[33].titulo}
                th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[34].titulo}
                th #{textos[35].titulo}
                th(data-hide="phone,small" data-sort-ignore="true") #{textos[36].titulo}
                th(data-sort-ignore="true") Editar
            tbody
              each permiso, i in permisos
                tr
                  td(data-value=permiso.fechaCreada) #{permiso.fecha.str}
                  td #{permiso.diaInicio}
                  td #{permiso.diaFinal}
                  td #{permiso.cantidadDias}
                  td #{permiso.motivo}
                  td #{permiso.detalle}
                  td #{permiso.comentarioSupervisor}
                  td #{permiso.estado}
                  td
                    if(permiso.estado == 'Pendiente')
                      button.btn.btn-default(data-toggle="modal" data-target="#editPermiso" value=permiso._id)
                        i.icon-pencil.icon-large.i-success
            tfoot
              tr
                td(colspan='9')
                  .pagination.pagination-centered.hide-if-no-paging
              //button.btnDescargaPdf.btn.btn-default(type='button', data-dismiss='modal')  Descargar pdf

      if(periodos.length != 0)
        h3 Lista de Periodos
        //button.btn.btn-success#btnAgregarPeriodo(value=usuario ,type='button',data-toggle="modal" data-target="#crearPeriodo") Crear Nuevo Periodo
        table.footable(data-page-navigation=".pagination" data-page-size="10").tablePeriodo
          thead
            tr
              th Fecha Creación
              th Periodo
              th Fecha Inicio
              th Fecha Final
              th Tipo Periodo
              th Días Asignados
              th Días Disfrutados

          tbody
            each periodo in periodos
              tr
                td #{moment.unix(periodo.fechaCreada).format("YYYY-MM-DD hh:mm:ss")}
                td #{periodo.numeroPeriodo}
                td #{moment.unix(periodo.fechaInicio).format("YYYY-MM-DD hh:mm:ss")}
                td #{moment.unix(periodo.fechaFinal).format("YYYY-MM-DD hh:mm:ss")}
                td #{periodo.periodo.nombre}
                td #{periodo.diasAsignados}
                td #{periodo.diasDisfrutados}
          tfoot
            tr
              td(colspan='12')
                .pagination.pagination-centered.hide-if-no-paging

  #editJust.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close.btnCancelar(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Justificación
          .modal-body
            form.formUpdateJust(role='form', method="POST")#login-form.well.span4
              .form-group
                label(for='motivoJust') Motivo:
                  select#selectMotivoJust.form-control(type= 'text', name= 'motivoJust' style='float:left' required)
                    option(value='seleccionar') Seleccione una opción
                    option(value='Tardía') Tardía
                    option(value='Omisión de Marca') Omisión de Marca
                    option(value='Ausencia') Ausencia
                    option(value='otro') Otro
                label(for='motivoOtroJust') Otro:
                  input#motivoOtroJust.form-control(type= 'text', placeholder='Otro', name= 'motivoOtroJust' style='float:left' disabled)
              .form-group
                  label(for='detalles') Detalles:
                  textarea#detalles.form-control(rows="4" cols="50" name='detalle' required)

              button#btn-editJust.btn.btn-success(type='submit') Actualizar
              button.btnCancelar.btn.btn-default(type='button', data-dismiss='modal') Cancelar

    #editExtra.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
              .modal-header
                button.close.btnCancelar(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Solicitar hora extraordinaria
              .modal-body
                form.formUpdateExtra(role='form', method="POST")#login-form.well.span4
                  .form-group
                    label(for='fecha') Inicio:
                      div.input-group
                        input#date_timepicker_start.form-control(type='text', name='epochInicio', placeholder='Fecha y hora de inicio' required )
                        span.input-group-addon
                          i.icon-time
                    label(for='fecha') Termino:
                      div.input-group
                        input#date_timepicker_end.form-control(type='text', name='epochTermino', placeholder='Fecha y hora final' required )
                        span.input-group-addon
                          i.icon-time
                  .form-group
                    label(for='cliente') Ubicación:
                      input#cliente.input-small.form-control(type="text", name='cliente' required )
                    label(for='motivo') Motivo:
                      textarea#motivo.form-control(rows="4" cols="50" name='motivo' required )


                  button.btn.btn-success(type='submit') Actualizar
                  button.btnCancelar.btn.btn-default(type='button', data-dismiss='modal') Cancelar

    #editPermiso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title Solicitar permiso anticipado
              .modal-body
                form.formUpdatePermiso(role='form', method="POST")#login-form.well.span4
                  .form-group
                    label(for='diaInicio') Día Inicial:
                      div.input-group
                        input#diaInicio.form-control(type='text', name='diaInicio', placeholder='Fecha Inicial' required)
                        span.input-group-addon
                          i.icon-calendar
                    label(for='diaFinal') Día Final:
                      div.input-group
                        input#diaFinal.form-control(type= 'text', placeholder='Fecha Final', name= 'diaFinal' required)
                        span.input-group-addon
                          i.icon-calendar
                    label(for='cantidadDias')  Días:
                      input#cantidadDias.form-control(type= 'text', placeholder='3', name= 'cantidadDias' required)
                  .form-group
                    label(for='motivo') Motivo:
                      select#selectMotivo.form-control(type= 'text', name= 'motivo' style='float:left' required)
                        option(value='seleccionar') Seleccione una opción
                        option(value='Vacaciones') Vacaciones
                        option(value='Permiso Médico') Permiso Médico
                        option(value='Permiso Estudio') Permiso de Estudio
                        option(value='Familiar') Familiar
                        option(value='otro') Otro
                    label(for='motivoOtro') Otro:
                      input#motivoOtro.form-control(type= 'text', placeholder='Otro', name= 'motivoOtro' style='float:left' disabled)
                  .form-group
                    label(for='detalle') Detalle:
                      textarea#detallePermiso.form-control(rows="4" cols="50" name='detalle' required)

                  button#btn-editPermiso.btn.btn-success(type='submit') Enviar
                  button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
