extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.min.css')
  link(rel='stylesheet', href='/stylesheets/footable/footable.core.min.css')
  link(rel='stylesheet', href='/stylesheets/footable/footable.metro.min.css')

block content  
  div.container
      .col-xs-3
       h3 Mis eventos
       h4 #{usuario.apellido1} #{usuario.apellido2}, #{usuario.nombre}   
      .col-xs-12
       h3 Filtros   
       div.filter
             div.filter
                  .btn-group
                     .btn-group
                     table
                       form(role='form', method="POST", action="/filtrarEventosEmpl")
                        td
                          label(for='fechaDesde') Desde:
                            div#datepicker.input-group
                              input.form-control(type='text', name='fechaDesde')
                              span.input-group-addon
                                i.icon-calendar
                        td
                          label(for='fechaHasta') Hasta:
                            div#datepicker.input-group
                              input.form-control(type='text', name='fechaHasta')
                              span.input-group-addon
                                i.icon-calendar
                        td
                          button.form-control.btn.btn-success(type='submit', name='filtrar') Filtrar
        .col-xs-12
          h3 Marcas
          if(marcas.length != 0)
            table.footable(data-page-navigation=".pagination" data-page-size="6")
                thead
                  tr
                    th(data-type="numeric" data-sort-initial="descending") Fecha
                    th Tipo
                    th(data-hide="phone,small" data-sort-ignore="true")
                tbody
                  each marca, i in marcas
                    tr
                      td(data-value=marca.epoch) #{marca.fecha}
                      td #{marca.tipoMarca} 
                      td
                        - var date = new Date();
                        - var epoch = (date.getTime() - date.getMilliseconds())/1000;
                        if(epoch - marca.epoch <= 600)
                          a.btn.btn-default(href="/marca/delete/"+marca.id)
                            i.icon-trash.icon-large.i-danger 

                tfoot
                  tr
                    td(colspan='3')
                      .pagination.pagination-centered.hide-if-no-paging
          else
            p No se han realizado marcas hasta el momento.

      .col-xs-12
        h3 Justificaciones
        if(justificaciones.length != 0)
          table.footable(data-page-navigation=".pagination" data-page-size="5")
              thead
                tr
                  th(data-type="numeric" data-sort-initial="descending") Fecha
                  th Motivo
                  th(data-hide="phone,small" data-sort-ignore="true") Detalle
                  th(data-hide="phone,small" data-sort-ignore="true") Comentario
                  th Estado
                  th(data-hide="phone,small" data-sort-ignore="true") Editar
              tbody 
                each justificacion, i in justificaciones
                  tr
                    td(data-value=justificacion.fechaCreada) #{justificacion.fecha} 
                    td #{justificacion.motivo} 
                    td #{justificacion.detalle} 
                    td #{justificacion.comentarioSupervisor} 
                    td #{justificacion.estado} 
                    td
                      if(justificacion.estado == 'Pendiente') 
                        button.btn.btn-default(data-toggle="modal" data-target="#editJust" value=justificacion._id)
                          i.icon-pencil.icon-large.i-success 
              tfoot
                tr
                  td(colspan='6')
                    .pagination.pagination-centered.hide-if-no-paging
        else
          p No se existen justificaciones hasta el momento.
                          

        br
        h3 Solicitudes Horas Extraordinarias
        if(extras.length != 0)
          table.footable(data-page-navigation=".pagination")
              thead
                tr
                  th(data-type="numeric" data-sort-initial="descending") Fecha
                  th Día
                  th(data-sort-ignore="true") Hora Entrada 
                  th(data-sort-ignore="true") Hora Salida
                  th(data-hide="phone,small,medium" data-sort-ignore="true") Cantidad de Horas
                  th(data-hide="phone,small,medium") Cliente
                  th(data-hide="phone,small,medium" data-sort-ignore="true") Motivo
                  th(data-hide="phone,small,medium" data-sort-ignore="true") Comentario
                  th Estado
                  th(data-hide="phone,small" data-sort-ignore="true") Editar
              tbody 
                each extra, i in extras
                  tr
                    td(data-value=extra.fechaCreada) #{extra.fecha} 
                    td #{extra.diaInicio} 
                    td #{extra.horaInicio} 
                    td #{extra.horaFinal} 
                    td #{extra.cantHoras} 
                    td #{extra.cliente} 
                    td #{extra.motivo} 
                    td #{extra.comentarioSupervisor} 
                    td #{extra.estado} 
                    td
                      if(extra.estado == 'Pendiente') 
                        button.btn.btn-default(data-toggle="modal" data-target="#editExtra" value=extra._id)
                          i.icon-pencil.icon-large.i-success 
              tfoot
                tr
                  td(colspan='10')
                    .pagination.pagination-centered.hide-if-no-paging
        else
          p No se existen extras hasta el momento.

        br
        h3 Solicitudes Permisos
        if(permisos.length != 0)
          table.footable(data-page-navigation=".pagination")
              thead
                tr
                  th(data-type="numeric" data-sort-initial="descending") Fecha
                  th Día Inicial
                  th Día Final 
                  th(data-hide="phone,small,medium") Cantidad Días
                  th(data-hide="phone,small,medium") Motivo
                  th(data-hide="phone,small,medium" data-sort-ignore="true") Detalle
                  th(data-hide="phone,small,medium" data-sort-ignore="true") Comentario
                  th Estado
                  th(data-hide="phone,small" data-sort-ignore="true") Editar
              tbody 
                each permiso, i in permisos
                  tr
                    td(data-value=permiso.fechaCreada) #{permiso.fecha} 
                    td #{permiso.diaInicio} 
                    td #{permiso.diaFinal} 
                    td #{permiso.cantidadDias} 
                    td #{permiso.motivo} 
                    td #{permiso.detalle} 
                    td #{permiso.comentarioSupervisor} 
                    td #{permiso.estado} 
                    td
                      if(permiso.estado == 'Pendiente') 
                        button.btn.btn-default(data-toggle="modal" data-target="#editPermiso" value=permiso._id)
                          i.icon-pencil.icon-large.i-success 
              tfoot
                tr
                  td(colspan='9')
                    .pagination.pagination-centered.hide-if-no-paging
        else
          p No se existen permisos hasta el momento.
      

      #editJust.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close.btnCancelar(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Justificación
            .modal-body
              form.formUpdateJust(role='form', method="POST")#login-form.well.span4
                .form-group
                  label(for='motivoJust') Motivo:
                    select#selectMotivoJust.form-control(type= 'text', name= 'motivoJust' style='float:left' required)
                      option(value='seleccionar') Seleccione una opción
                      option(value='Tardía') Tardía
                      option(value='Omisión de Marca') Omisión de Marca
                      option(value='Ausencia') Ausencia
                      option(value='otro') Otro
                  label(for='motivoOtroJust') Otro:
                    input#motivoOtroJust.form-control(type= 'text', placeholder='Otro', name= 'motivoOtroJust' style='float:left' disabled)
                .form-group
                    label(for='detalles') Detalles:
                    textarea#detalles.form-control(rows="4" cols="50" name='detalle' required)
                       
                button.btn.btn-success(type='submit') Actualizar
                button.btnCancelar.btn.btn-default(type='button', data-dismiss='modal') Cancelar

      #editExtra.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
              .modal-content
                .modal-header
                  button.close.btnCancelar(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4#myModalLabel.modal-title Solicitar hora extraordinaria
                .modal-body
                  form.formUpdateExtra(role='form', method="POST")#login-form.well.span4
                    .form-group
                      label(for='fecha') Día:
                        div#datepicker.input-group
                          input.form-control(type='text', name='diaInicio', placeholder='Fecha' required )
                          span.input-group-addon
                            i.icon-calendar
                    .form-group
                      label(for='horaInicio') Hora de Inicio:
                        div#timepicker.input-group
                          input.input-small.form-control(data-format="hh:mm:ss", type="text", name= 'horaInicio')
                          span.input-group-addon
                            i.icon-time
                      label(for='horaFinal') Hora de Salida:
                        div#timepicker1.input-group
                          input.input-small.form-control(type="text", name= 'horaFinal')
                          span.input-group-addon
                            i.icon-time
                    .form-group
                      label(for='cliente') Cliente:
                        input#cliente.input-small.form-control(type="text", name='cliente' required )
                      label(for='motivo') Motivo:
                        textarea#motivo.form-control(rows="4" cols="50" name='motivo' required )
                      
                                                   
                    button.btn.btn-success(type='submit') Actualizar
                    button.btnCancelar.btn.btn-default(type='button', data-dismiss='modal') Cancelar
       
      #editPermiso.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4#myModalLabel.modal-title Solicitar permiso anticipado
                .modal-body
                  form.formUpdatePermiso(role='form', method="POST")#login-form.well.span4
                    .form-group
                      label(for='diaInicio') Día Inicial:
                        div#datepicker.input-group
                          input#diaInicio.form-control(type='text', name='diaInicio', placeholder='Fecha Inicial' required)
                          span.input-group-addon
                            i.icon-calendar
                      label(for='diaFinal') Día Final:
                        div#datepicker.input-group
                          input#diaFinal.form-control(type= 'text', placeholder='Fecha Final', name= 'diaFinal' required)
                          span.input-group-addon
                            i.icon-calendar
                      label(for='cantidadDias')  Días:
                        input#cantidadDias.form-control(type= 'text', placeholder='3', name= 'cantidadDias' required)
                    .form-group
                      label(for='motivo') Motivo:
                        select#selectMotivo.form-control(type= 'text', name= 'motivo' style='float:left' required)
                          option(value='seleccionar') Seleccione una opción
                          option(value='Vacaciones') Vacaciones
                          option(value='Permiso Médico') Permiso Médico
                          option(value='Permiso Estudio') Permiso de Estudio
                          option(value='Familiar') Familiar
                          option(value='otro') Otro
                      label(for='motivoOtro') Otro:
                        input#motivoOtro.form-control(type= 'text', placeholder='Otro', name= 'motivoOtro' style='float:left' disabled)
                    .form-group
                      label(for='detalle') Detalle:
                        textarea#detallePermiso.form-control(rows="4" cols="50" name='detalle' required)
                                                                         
                    button.btn.btn-success(type='submit') Enviar
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancelar                

block sigucaJS
  script(src="/js/bootstrap-timepicker.min.js")
  script(src="/js/datepickerReportes.js")
