extends layout

block content
    div.container
      .info
       h3 #{textos[0].titulo}
       h4 #{empleado}

      div.filter
        h3 #{textos[1].titulo}
        table
          form(role='form', method="POST", action="/filtrarEventos/todosEventos")
            td
              select.form-control#selectFiltro.selectpicker(data-style="btn-success", data-width="auto", type="text", name="filtro")
                option(value= "todos|gestionarEventos") #{textos[2].titulo}
                each user in usuarios
                  option(value= user._id + "|gestionarEventos") #{user.apellido1} #{user.apellido2}, #{user.nombre}
            td
              select.form-control#selectFiltro.selectpicker(data-style="btn-success", data-width="auto", type="text", name="filtro_departamento")
                option(value= "todos") #{textos[3].titulo}
                each dep in departamentos
                  option(value= dep._id ) #{dep.nombre}
            td
              label.labelFiltro.labFilLeft(for='fechaDesde') #{textos[4].titulo}
                div.input-group
                  input#date_range_start.form-control(type='text', name='fechaDesde')
                  span.input-group-addon
                    i.icon-calendar
            td
              label.labelFiltro(for='fechaHasta') #{textos[5].titulo}
                div.input-group
                  input#date_range_end.form-control(type='text', name='fechaHasta')
                  span.input-group-addon
                    i.icon-calendar
            td
              button.filtro.form-control.btn.btn-success(type='submit', name='gestionar') #{textos[6].titulo}

      .col-xs-12
        if(justificaciones && justificaciones.length != 0)
          h3  #{textos[7].titulo}
          h5  #{textos[8].titulo}
          input.checkGrupoTodas(type='checkbox',checked=false)
          h5.justificacionesTitulo(id="justificacionesTitulo",style='display:none')  #{textos[9].titulo}
          textarea.form-control.comentarioDelSupervisorMasa(rows="1" cols="50", id="comentarioDelSupervisor", placeholder="Añada comentario" ,style='display:none' )

          select.select_picker.estadoMasa(id='estadoMasa', data-width="auto" ,data-style="btn-inverse",style='display:none;float:left')
                          option(value='Seleccionar')  #{textos[10].titulo}
                          option(value='Pendiente')  #{textos[11].titulo}
                          option(value='Aceptada')  #{textos[12].titulo}
                          option(value='Rechazada') #{textos[13].titulo}
                          option(value='Incompleto') #{textos[14].titulo}

          button.btn.btn-default.justificacionDeleteMasa(id="justificacionDeleteMasa",style='display:none;float:left')
            i.icon-trash.icon-large.i-danger

          button.btn.btn-default(type='button',id='justificarMasa' ,style='display:none;float:left')
            i.icon-ok.icon-large.i-success


          if(justificaciones!=null && justificaciones.length != 0)
            table.tableJustificaciones.footable(data-page-navigation=".pagination" data-page-size="5" )
                thead
                  tr
                    th
                    th(data-type="numeric" data-sort-initial="descending")  #{textos[15].titulo}
                    th #{textos[16].titulo}
                    th #{textos[17].titulo}
                    th #{textos[18].titulo}
                    th(data-sort-ignore="true") #{textos[19].titulo}
                    th(data-sort-ignore="true") #{textos[20].titulo}
                    th(data-sort-ignore="true") #{textos[21].titulo}
                    th(data-sort-ignore="true") #{textos[22].titulo}
                    th(data-sort-ignore="true") #{textos[23].titulo}
                tbody
                  each justificacion, i in justificaciones
                    form(role='form', method="POST", action="/getionarJustificacion/"+justificacion.id)
                      tr
                        td
                          input.justificar.justificarArray(type='checkbox',checked=false, id='check' ,value=justificacion.id )
                        td(data-value=justificacion.fechaCreada) #{justificacion.fecha.str}
                        td #{justificacion.usuario.nombre} #{justificacion.usuario.apellido1}
                        td #{justificacion.tipoUsuario}
                        td #{justificacion.motivo}
                        td #{justificacion.detalle}
                        td
                          textarea.comentarioSupervisor.form-control(rows="1" cols="50", name="comentarioSupervisor", placeholder="Añada comentario")
                        td
                          select.select_picker.estado(name='estado' data-width="auto" data-style="btn-inverse")
                            option(value='Pendiente') #{textos[11].titulo}
                            option(value='Aceptada') #{textos[12].titulo}
                            option(value='Rechazada') #{textos[13].titulo}
                            option(value='Incompleto') #{textos[14].titulo}
                        td
                          button.row-delete.btn.btn-default(value=justificacion.id, name='gestionar')
                              i.icon-ok.icon-large
                        td
                          button.btn.btn-default.justificacionDelete(value=justificacion.usuario.nombre+' '+justificacion.usuario.apellido1+' '+justificacion.usuario.apellido2+','+justificacion.id+','+justificacion.fecha.str, name='eliminar')
                            i.icon-trash.icon-large.i-danger
                tfoot
                  tr
                    td(colspan='10')
                      .pagination.pagination-centered.hide-if-no-paging
          else
            p

        br
        if(extras && extras.length > 0)
          h3 #{textos[25].titulo}
          if(extras && extras.length > 0)
            table.tableExtras.footable(data-page-navigation=".pagination" data-page-size="5" )
                thead
                  tr
                    th(data-type="numeric" data-sort-initial="descending") #{textos[26].titulo}
                    th #{textos[27].titulo}
                    th(data-sort-ignore="true") #{textos[28].titulo}
                    th(data-sort-ignore="true") #{textos[29].titulo}
                    th(data-sort-ignore="true") #{textos[30].titulo}
                    th #{textos[31].titulo}
                    th(data-sort-ignore="true") #{textos[32].titulo}
                    th(data-sort-ignore="true") #{textos[33].titulo}
                    th(data-sort-ignore="true") #{textos[34].titulo}
                    th(data-sort-ignore="true" data-name="Delete") #{textos[35].titulo}
                    th(data-sort-ignore="true") #{textos[36].titulo}
                    th(data-hide="phone,small" data-sort-ignore="true") Boleta
                tbody
                  each extra, i in extras
                    form(role='form', method="POST", action="/getionarSolicitud/"+extra.id)
                      tr
                        td(data-value=extra.fechaCreada) #{extra.fecha.str}
                        td #{extra.usuario.nombre} #{extra.usuario.apellido1}
                        td #{moment.unix(extra.fechaInicial).format("YYYY-MM-DD hh:mm:ss")}
                        td #{moment.unix(extra.fechaFinal).format("YYYY-MM-DD hh:mm:ss")}
                        td #{extra.cantHoras}
                        td #{extra.ubicacion}
                        td #{extra.motivo}
                        td
                          textarea.comentarioSupervisor.form-control(rows="1" cols="50", name="comentarioSupervisor", placeholder="Añada comentario")
                        td
                          select.select_picker(name="estado"+extra.id, id="estado"+extra.id, data-width="auto"  data-style="btn-inverse")
                            option(value='Pendiente') #{textos[11].titulo}
                            option(value='Aceptada') #{textos[12].titulo}
                            option(value='Rechazada') #{textos[13].titulo}
                        td
                          button.row-delete.btn.btn-default(value=extra.id, name='gestionar')
                            i.icon-ok.icon-large
                        td
                          button.btn.btn-default.solicitudDelete(value=extra.usuario.nombre+' '+extra.usuario.apellido1+' '+extra.usuario.apellido2+','+extra.id+','+extra.fecha, name='eliminar')
                            i.icon-trash.icon-large.i-danger
                        td
                          button.btn.btn-default.extrasBoleta(value=extra._id + ';horaExtra')
                            i.icon-download.icon-large.i-success
                tfoot
                  tr
                    td(colspan='12')
                      .pagination.pagination-centered.hide-if-no-paging
          else
            p #{textos[37].titulo}

        br
        if(permisos && permisos.length > 0)
          h3 #{textos[38].titulo}
          if(permisos && permisos.length > 0)
            table.tableSolicitudes.footable(data-page-navigation=".pagination" data-page-size="5")
                thead
                  tr
                    th(data-type="numeric" data-sort-initial="descending") #{textos[26].titulo}
                    th #{textos[27].titulo}
                    th #{textos[28].titulo}
                    th #{textos[29].titulo}
                    th Cantidad de dias
                    th #{textos[32].titulo}
                    th Motivo Articulo 51
                    th Inciso
                    th(data-sort-ignore="true") Detalle
                    th(data-sort-ignore="true") #{textos[33].titulo}
                    th(data-sort-ignore="true") #{textos[34].titulo}
                    th(data-sort-ignore="true") #{textos[35].titulo}
                    th(data-sort-ignore="true") #{textos[36].titulo}
                    th(data-hide="phone,small" data-sort-ignore="true") Boleta
                tbody
                  each permiso, i in permisos
                    if(permiso.motivo != "Vacaciones")
                      form(role='form', method="POST", action="/getionarSolicitud/"+permiso.id)
                        tr
                          td(data-value=permiso.fechaCreada) #{permiso.fecha.str}
                          td #{permiso.usuario.nombre} #{permiso.usuario.apellido1}
                          td #{permiso.diaInicio}
                          td #{permiso.diaFinal}
                          td #{permiso.cantidadDias}
                          td #{permiso.motivo}
                          if(permiso.motivo == 'Articulo 51')
                            td #{permiso.motivoArticulo51}
                          else
                            td N/A
                          if(permiso.inciso == 'seleccionar')
                            td N/A
                          else
                            td #{permiso.inciso}
                          td #{permiso.detalle}
                          td
                            textarea.comentarioSupervisor.form-control(rows="1" cols="50", name="comentarioSupervisor", placeholder="Añada comentario")
                          td
                            select.select_picker(name='estado'+permiso.id, id="estado"+permiso.id, data-width="auto"  data-style="btn-inverse")
                              option(value='Pendiente') #{textos[11].titulo}
                              option(value='Aceptada') #{textos[12].titulo}
                              option(value='Rechazada') #{textos[13].titulo}
                          td
                            button.row-delete.btn.btn-default(value=permiso.id, name='gestionar')
                              i.icon-ok.icon-large
                          td
                            button.btn.btn-default.solicitudDelete(value=permiso.usuario.nombre+' '+permiso.usuario.apellido1+' '+permiso.usuario.apellido2+','+permiso.id+','+permiso.fecha, name='eliminar')
                              i.icon-trash.icon-large.i-danger
                          td
                            button.btn.btn-default.solicitudesBoleta(value=permiso._id + ';' +permiso.motivo)
                              i.icon-download.icon-large.i-success
                tfoot
                  tr
                    td(colspan='13')
                      .pagination.pagination-centered.hide-if-no-paging
          else
            p #{textos[39].titulo}

        br
        if(permisos && permisos.length > 0)
          h3 #{textos[40].titulo}
          if(permisos && permisos.length > 0)
            table.tableVacaciones.footable(data-page-navigation=".pagination" data-page-size="5")
                thead
                  tr
                    th(data-type="numeric" data-sort-initial="descending") #{textos[26].titulo}
                    th #{textos[27].titulo}
                    th #{textos[28].titulo}
                    th #{textos[29].titulo}
                    //th #{textos[30].titulo}
                    th Cantidad de dias
                    //th #{textos[31].titulo}
                    th(data-sort-ignore="true") #{textos[32].titulo}
                    th(data-sort-ignore="true") Detalle
                    th(data-sort-ignore="true") #{textos[33].titulo}
                    th(data-sort-ignore="true") #{textos[41].titulo}
                    th(data-sort-ignore="true") #{textos[34].titulo}
                    th(data-sort-ignore="true") #{textos[35].titulo}
                    th(data-sort-ignore="true") #{textos[36].titulo}
                    th(data-hide="phone,small" data-sort-ignore="true") Boleta
                tbody
                  each permiso, i in permisos
                    if(permiso.motivo == "Vacaciones")
                      form(role='form', method="POST", action="/getionarSolicitud/"+permiso.id)
                        tr
                          td(data-value=permiso.fechaCreada) #{permiso.fecha.str}
                          td #{permiso.usuario.nombre} #{permiso.usuario.apellido1}
                          td #{permiso.diaInicio}
                          td #{permiso.diaFinal}
                          td #{permiso.cantidadDias}
                          td#motivo #{permiso.motivo}
                          td #{permiso.detalle}
                          td
                            textarea.comentarioSupervisor.form-control(rows="1" cols="50", name="comentarioSupervisor", placeholder="Añada comentario")
                          td(class=permiso.usuario.id) #{permiso.usuario.vacaciones}
                          td
                            select.select_picker(name='estado'+permiso.id, id="estado"+permiso.id, data-width="auto"  data-style="btn-inverse")
                              option(value='Pendiente') #{textos[11].titulo}
                              option(value='Aceptada') #{textos[12].titulo}
                              option(value='Rechazada') #{textos[13].titulo}
                          td
                            button.row-delete.btn.btn-default(value="idPermiso:"+permiso.id+",idUsuario:"+permiso.usuario.id+",horasSolicitadas:"+permiso.cantidadDias, name='gestionar')
                              i.icon-ok.icon-large
                          td
                            button.btn.btn-default.solicitudDelete(value=permiso.usuario.nombre+' '+permiso.usuario.apellido1+' '+permiso.usuario.apellido2+','+permiso.id+','+permiso.fecha, name='eliminar')
                              i.icon-trash.icon-large.i-danger
                          td
                            button.btn.btn-default.vacacionesBoleta(value=permiso._id + ';Vacaciones')
                              i.icon-download.icon-large.i-success
                tfoot
                  tr
                    td(colspan='13')
                      .pagination.pagination-centered.hide-if-no-paging
          else
            p #{textos[39].titulo}

block sigucaJS
  script(src="/js/app/gestionarEventos.js")
