extends layoutAdmin

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/flipclock.css')
  link(rel='stylesheet', href='/stylesheets/sigucaEscritorio.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
block imgSession
  
block gcsNavbarItems
  ul.nav.navbar-nav  

block content
  .container
    
    h3 Lista de Horarios
    br
    .table-responsive
    table.table
        thead
          tr
            th Nombre
            th Hora Entrada
            th Hora Salida
            th Rango Jornada
            th Tiempo Receso
            th Tiempo Almuerzo

        tbody 
          each horario, i in horarios
            tr
              td #{horario.nombre} 
              td #{horario.horaEntrada} 
              td #{horario.horaSalida} 
              td #{horario.rangoJornada} 
              td #{horario.tiempoReceso} 
              td #{horario.tiempoAlmuerzo} 
              td
                 a#edit.btn.btn-success(href="/horarioN/editHorario/"+horario.id)  editar
              td
                 a#delete.btn.btn-danger(href="/horarioN/deleteHorario/"+horario.id)  eliminar
    
        
block sigucaJS
  script(src="/javascripts/flipclock/libs/prefixfree.min.js")
  script(src="/javascripts/flipclock/flipclock.min.js")
  script(src="/javascripts/reloj.js")
  script(src="/javascripts/jquery-2.0.3.min.js")
  script(src="/javascripts/bootstrap.min.js")




