extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/awesome-bootstrap-checkbox.css')   

block content
  .container
    
    br
    h3 Lista de horarios libre
    table.footable.tableHorario
        thead
          tr
            th Nombre
            th Tipo Jornada
            th Rango Jornada
            th Tiempo Receso
            th Tiempo Almuerzo
            th Editar
            th Eliminar

        tbody 
          each horario, i in horarios
            tr
              td #{horario.nombre} 
              td #{horario.tipo} 
              td #{horario.rangoJornada} 
              td #{horario.tiempoReceso} 
              td #{horario.tiempoAlmuerzo} 
              td
                button.btn.btn-default(data-toggle="modal" data-target="#editHorario" value=horario.id)
                  i.icon-pencil.icon-large.i-success

              td
                button.horarioDelete.btn.btn-default(value=horario.nombre+','+horario.id)
                  i.icon-trash.icon-large.i-danger

    br
    h3 Lista de horarios fijo
    table.footable.tableHorarioEliminar
        thead
          tr
            th Nombre
            th Tipo Jornada
            th Tiempo Receso
            th Tiempo Almuerzo
            th Hora de entrada 
            th Hora de Salida
            th Editar
            th Eliminar

        tbody 
          each horario, i in horarioFijo
            tr
              td #{horario.nombre} 
              td #{horario.tipo} 
              td #{horario.tiempoReceso} 
              td #{horario.tiempoAlmuerzo} 
              td #{horario.horaEntrada} 
              td #{horario.horaSalida} 
              td
                button.btn.btn-default(data-toggle="modal" data-target="#editHorarioFijo" value=horario._id)
                  i.icon-pencil.icon-large.i-success

              td
                button.eliminarFijo.btn.btn-default(value=horario.nombre+','+horario._id)
                  i.icon-trash.icon-large.i-danger 

     br
    h3 Lista de horarios personalizados
    table.footable.tableHorarioPersonalizado
        thead
          tr
            th Nombre
            th Tiempo Almuerzo
            th Tiempo Receso
            th Editar
            th Eliminar

        tbody 
          each horario, i in horarioPersonalizado
            tr
              td #{horario.nombreHorarioPersonalizado} 
              td #{horario.tiempoAlmuerzo.hora+":"} #{horario.tiempoAlmuerzo.minutos} 
              td #{horario.tiempoReceso.hora+":"} #{horario.tiempoReceso.minutos} 
             
 
              td
                button.btn.btn-default(data-toggle="modal" data-target="#editHorarioPersonalizado" value=horario._id)
                  i.icon-pencil.icon-large.i-success                 
              td
                button.eliminarPersonalizado.btn.btn-default(value=horario.nombreHorarioPersonalizado+','+horario._id)
                  i.icon-trash.icon-large.i-danger 


    //actualizar horario
    #editHorario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Actualizar horario
            .modal-body
              form.formUpdate(action='/horarioN', method='post')#login-form.well.span4
                .form-group
                  h4 Información Básica
                  label(for='nombre' style="float:left") Nombre del Horario:
                    input#nombre.form-control( type="text", placeholder='Nombre del horario')
                
                  label(for='rangoJornada') Rango de horas:
                    label.form-control#rangoJornada
                    div#timepicker4.input-group
                      input.form-control#inputRango(type="text", name="rangoJornada")
                      span.input-group-addon
                        i.icon-time  
                .form-group
                  h4 Información de descansos
                  label(for='tiempoReceso') Rango de receso:
                    div#timepicker2.input-group
                      input#tiempoReceso.input-small.form-control(type="text", name= 'tiempoReceso')
                      span.input-group-addon
                        i.icon-time  
                  label(for='tiempoAlmuerzo') Rango de almuerzo:
                    div#timepicker3.input-group
                      input#tiempoAlmuerzo.input-small.form-control(type="text", name= 'tiempoAlmuerzo')
                      span.input-group-addon
                        i.icon-time
                   
                button.btn.btn-success(type='submit') Actualizar
                alertify.myAlert("Browser dialogs made easy!")
                button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar



    #editHorarioFijo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Actualizar horario
            .modal-body
              form.formUpdateFijo(action='/horarioFijoN', method='post')#login-form.well.span4
                .form-group
                  h4 Información Básica
                  label(for='nombre' style="float:left") Nombre del Horario:
                  input#nombreFijo.form-control( type="text", name="nombre")     
                  
                  label(for='dias') L
                  label(for='dias')  
                  label(for='dias')
                  label(for='dias') K
                  label(for='dias')  
                  label(for='dias')
                  label(for='dias') M
                  label(for='dias')  
                  label(for='dias')
                  label(for='dias') J
                  label(for='dias')
                  label(for='dias') 
                  label(for='dias') V
                  label(for='dias')  
                  label(for='dias')
                  label(for='dias') S
                  label(for='dias')
                  label(for='dias')  
                  label(for='dias') D
                  .from-group
                    input#Lunes(type='checkbox',name='Lunes') 
                    input#Martes(type='checkbox',name='Martes') 
                    input#Miercoles(type='checkbox',name='Miercoles')
                    input#Jueves(type='checkbox',name='Jueves')
                    input#Viernes(type='checkbox',name='Viernes')
                    input#Sabado(type='checkbox',name='Sabado')  
                    input#Domingo(type='checkbox',name='Domingo')  

                .form-group
                  label(for='horaEntrada') Hora de entrada:
                    div#timepicker5.input-group
                      input#horaEntradaFijo.input-small.form-control(type="text", name= 'horaEntrada')
                      span.input-group-addon
                        i.icon-time  
                  label(for='horaSalida') Hora de salida:
                    div#timepicker6.input-group
                      input#horaSalidaFijo.input-small.form-control(type="text", name= 'horaSalida')
                      span.input-group-addon
                        i.icon-time

                .form-group
                  label(for='tiempoReceso') Rango de receso:
                    div#timepicker2.input-group
                      input#tiempoRecesoFijo.input-small.form-control(type="text", name= 'tiempoReceso')
                      span.input-group-addon
                        i.icon-time  
                  label(for='tiempoAlmuerzo') Rango de almuerzo:
                    div#timepicker3.input-group
                      input#tiempoAlmuerzoFijo.input-small.form-control(type="text", name= 'tiempoAlmuerzo')
                      span.input-group-addon
                        i.icon-time  
                button.btn.btn-success(type='submit') Actualizar
                alertify.myAlert("Browser dialogs made easy!")
                button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar    


    .col-xs-2  
  #editHorarioPersonalizado.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Asignar horario a empleado
          .modal-body
            form.formUpdatePersonalizado(role='form', method="POST", action="/modificarHorarioPersonalizado")#login-form.well.span4
              .form-group
                label(for='nombre' style="float:left") Nombre del feriado:
                input.form-control( type="text", name="nombreHorarioPersonalizado",id="nombreHorarioPersonalizado")     
              .form-group
                h4 Información de jornada
                label Lunes
                br
                label Hora de inicio:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "lunesEntrada", id= "lunesEntrada")
                    span.input-group-addon
                      i.icon-time
                
                label Hora de salida:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "lunesSalida", id= "lunesSalida")
                    span.input-group-addon
                      i.icon-time

                label Martes
                br
                label Hora de inicio:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "martesEntrada", id= "martesEntrada")
                    span.input-group-addon
                      i.icon-time
                
                label Hora de salida:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "martesSalida", id= "martesSalida")
                    span.input-group-addon
                      i.icon-time

                label Miércoles
                br
                label Hora de inicio:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "miercolesEntrada", id= "miercolesEntrada")
                    span.input-group-addon
                      i.icon-time
                
                label Hora de salida:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "miercolesSalida", id= "miercolesSalida")
                    span.input-group-addon
                      i.icon-time

                label Jueves
                br
                label Hora de inicio:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "juevesEntrada", id= "juevesEntrada")
                    span.input-group-addon
                      i.icon-time
                
                label Hora de salida:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "juevesSalida", id= "juevesSalida")
                    span.input-group-addon
                      i.icon-time


                label Viernes
                br
                label Hora de inicio:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "viernesEntrada", id= "viernesEntrada")
                    span.input-group-addon
                      i.icon-time
                
                label Hora de salida:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "viernesSalida", id= "viernesSalida")
                    span.input-group-addon
                      i.icon-time

                label Sábado
                br
                label Hora de inicio:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "sabadoEntrada", id= "sabadoEntrada")
                    span.input-group-addon
                      i.icon-time
                
                label Hora de salida:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "sabadoSalida", id= "sabadoSalida")
                    span.input-group-addon
                      i.icon-time
                
                label Domingo
                br
                label Hora de inicio:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "domingoEntrada", id= "domingoEntrada")
                    span.input-group-addon
                      i.icon-time
                
                label Hora de salida:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "domingoSalida", id= "domingoSalida")
                    span.input-group-addon
                      i.icon-time

               label Tiempo de almuerzo:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "tiempoAlmuerzo", id= "tiempoAlmuerzoo")
                    span.input-group-addon
                      i.icon-time
                
                label Tiempo de receso:
                  div#timepicker3.input-group
                    input.input-small.form-control(type="text", name= "tiempoReceso", id= "tiempoRecesoo")
                    span.input-group-addon
                      i.icon-time
                         
              button.btn.btn-success(type='submit') Asignar
              button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar


block sigucaJS
  script( src='/js/app/timepickerAdminEdit.js')