extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/awesome-bootstrap-checkbox.css')   

block content
  .container
    
    br
    h3 Lista de Horarios
    table.footable.tableHorario
        thead
          tr
            th Nombre
            th Tipo Jornada
            th Rango Jornada
            th Tiempo Receso
            th Tiempo Almuerzo
            th Editar
            th Eliminar

        tbody 
          each horario, i in horarios
            tr
              td #{horario.nombre} 
              td #{horario.tipo} 
              td #{horario.rangoJornada} 
              td #{horario.tiempoReceso} 
              td #{horario.tiempoAlmuerzo} 
              td
                button.btn.btn-default(data-toggle="modal" data-target="#editHorario" value=horario.id)
                  i.icon-pencil.icon-large.i-success

              td
                button.horarioDelete.btn.btn-default(value=horario.nombre+','+horario.id)
                  i.icon-trash.icon-large.i-danger


    //actualizar horario
    #editHorario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Actualizar horario
            .modal-body
              form.formUpdate(action='/horarioN', method='post')#login-form.well.span4
                .form-group
                  h4 Información Básica
                  label(for='nombre' style="float:left") Nombre del Horario:
                    input#nombre.form-control( type="text", name="nombre", placeholder='Nombre del horario')
                
                  label(for='rangoJornada') Rango de horas:
                    label.form-control#rangoJornada
                    div#timepicker4.input-group
                      input.form-control#inputRango(type="text", name="rangoJornada")
                      span.input-group-addon
                        i.icon-time  
                .form-group
                  h4 Información de descansos
                  label(for='tiempoReceso') Rango de receso:
                    div#timepicker2.input-group
                      input#tiempoReceso.input-small.form-control(type="text", name= 'tiempoReceso')
                      span.input-group-addon
                        i.icon-time  
                  label(for='tiempoAlmuerzo') Rango de almuerzo:
                    div#timepicker3.input-group
                      input#tiempoAlmuerzo.input-small.form-control(type="text", name= 'tiempoAlmuerzo')
                      span.input-group-addon
                        i.icon-time
                   
                button.btn.btn-success(type='submit') Actualizar
                alertify.myAlert("Browser dialogs made easy!")
                button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar

block sigucaJS
  script( src='/js/app/timepickerAdminEdit.js')