extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/sigucaConfiguraciones.css')

block content  
  div.container
      .col-xs-12
        h3 Justificaciones
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Motivo
                th Detalle
                th Estado
                th Comentario
            tbody 
              each justificacion, i in justificaciones
                tr
                  td #{justificacion.fecha} 
                  td #{justificacion.motivo} 
                  td #{justificacion.detalle} 
                  td #{justificacion.estado} 
                  td #{justificacion.comentarioSupervisor} 
                          

        h3 Solicitudes Horas Extras
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Dia
                th Horas 
                th Motivo
                th Estado
            tbody 
              each extra, i in extras
                tr
                  td #{extra.fecha}  
                  td #{extra.diaInicio} 
                  td #{extra.horaFinal} 
                  td #{extra.motivo} 
                  td #{extra.estado}

        h3 Solicitudes Permisos
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Dia Inicial
                th Dia Final 
                th Motivo
                th Estado
            tbody 
              each permiso, i in permisos
                tr
                  td #{permiso.fecha}  
                  td #{permiso.diaInicio} 
                  td #{permiso.diaFinal} 
                  td #{permiso.motivo}
                  td #{permiso.estado} 
   
block sigucaJS
  script(src="/javascripts/datepicker.js")