extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/cal-heatmap.css')


block content
    div.container
      if(!feriado)
        div.text-center
          .milky #{textos[0].titulo}

        div.filter
          table
            form(role='form', method="POST", action="/reportes/"+filtradoReporte)
              td
                select.form-control.selectpicker(data-style="btn-success", data-width="auto", type="text", name="filtro")
                  option(value= "todos|reportes") #{textos[1].titulo}
                  each user in usuarios
                    //-Se verifica si la informacion esta siendo filtrada por usuario
                    if(filtroUsuario && filtroUsuario == user._id)
                      option(value= user._id + "|reportes", selected) #{user.apellido1} #{user.apellido2}, #{user.nombre}
                    else
                      option(value= user._id + "|reportes") #{user.apellido1} #{user.apellido2}, #{user.nombre}

              td
                select.form-control#selectFiltro.selectpicker(data-style="btn-success", data-width="auto", type="text", name="filtro_departamento")
                  option(value= "todos") #{textos[2].titulo}
                  each dep in departamentos
                    //-Se verifica si la informacion esta siendo filtrada por departamento
                    if(filtroDepartamento && filtroDepartamento == dep._id)
                      option(value=dep._id, selected) #{dep.nombre}
                    else
                      option(value=dep._id ) #{dep.nombre}
              -if(vacaciones)
                td.hide
              -else
                td
                  label.labelFiltro.labFilLeft(for='fechaDesde') #{textos[3].titulo}
                    div.input-group
                      input#date_range_start.form-control.fondoTransparente(type='text', name='fechaDesde', value=rangoFecha.fechaDesde)
                      span.input-group-addon.fondoTransparente-derecha
                        i.icon-calendar
              -if(vacaciones)
                td.hide
              -else
                td
                  label.labelFiltro(for='fechaHasta') #{textos[4].titulo}
                    div.input-group
                      input#date_range_end.form-control.fondoTransparente(type='text', name='fechaHasta', value=rangoFecha.fechaHasta)
                      span.input-group-addon.fondoTransparente-derecha
                        i.icon-calendar
              td

                button.filtro.form-control.btn.btn-success.fondoTransparente(type='submit', name='gestionar') #{textos[5].titulo}
      else
        div.text-center
          .milky Reportes de #{tipoReporte}

      .col-xs-12
        div.eventosCierre
          h3 #{textos[6].titulo}
          table.footable.zoom-element
            thead
              tr
                th(data-sort-ignore="true") #{textos[7].titulo}
                th(data-sort-ignore="true") #{textos[8].titulo}
            tbody#calDetalle
                //-Marcas
                if(marcas)
                  tr
                    td #{textos[9].titulo}
                    if(marcas.length != 0)
                      td #{marcas.length}
                    else
                      td 0

                //-Justificiones
                if(justificaciones)
                  tr
                    td Justificaciones
                    if(justificaciones.length != 0)
                      td #{justificaciones.length}
                    else
                      td 0

                //-Solicitudes de permisos
                if(permisos)
                  tr
                    td Solicitudes de permisos
                    if(permisos.length != 0)
                      td #{permisos.length}
                    else
                      td 0

                //-Solicitudes de horas extraordinarias
                if(extras)
                  tr
                    td Solicitudes de horas extraordinarias
                    if(extras.length != 0)
                      td #{extras.length}
                    else
                      td 0

                 if(feriado)
                  tr
                    td Feriados
                    if(feriado.length != 0)
                      td #{feriado.length}
                    else
                      td 0

                //-Vacaciones
                if(vacaciones)
                  tr
                    td Total empleados
                    td #{usuarios.length}

                //-Horas laboradas
                if(horasEmpleado)
                  tr
                    td total de horas laboradas
                    if(horasEmpleado.length != 0)
                      //-Se calcula el total de horas laboradas por empleado
                      -var sumaHoras = 0, sumaMinutos = 0;
                      each empleadoTem, p in horasEmpleado
                        - sumaHoras += empleadoTem.tiempo.horas;
                        if(sumaMinutos + empleadoTem.tiempo.minutos >= 60)
                          - sumaHoras ++
                          - sumaMinutos = (sumaMinutos + empleadoTem.tiempo.minutos) - 60
                        else
                          -sumaMinutos += empleadoTem.tiempo.minutos

                      //- Se le da formato al tiempo sumado
                      - var tiempo ="";
                      - if(sumaHoras < 10 ) sumaHoras = "0" + sumaHoras;
                      - if(sumaMinutos < 10 ) sumaMinutos = "0" + sumaMinutos;
                      - tiempo = sumaHoras+":"+sumaMinutos;
                      td #{tiempo}
                    else
                      td 0

            if(eventosTeletrabajo)
              tr
                td Total de solicitudes de confirmación de presencia
                td #{eventosTeletrabajo.length}

        br
        div.tablasReportes
          if(resumen && resumen.length != 0)
            h3.h3Marcas Resumen
            table.footable
                thead
                    tr
                      th Tipo
                      th Cantidad
                tbody
                  each line in resumen
                    tr
                      td #{line.tipo}
                      td #{line.cantidad}
                tfoot
                  tr
                    td(colspan='2')


          if(horasEmpleado)
            if(horasEmpleado.length != 0)
              br
              h3 #{textos[39].titulo}
              .tableSolicitudes.footable
                table#totalHorasEmpleado
                    thead
                      tr
                        th #{textos[40].titulo}
                        th #{textos[41].titulo}
                        th #{textos[42].titulo}

                    tbody
                      each empleado, p in horasEmpleado
                        - var x = JSON.stringify(empleado);
                        - var tiempo ="";
                        - var h =""+empleado.tiempo.horas;
                        - var m =""+empleado.tiempo.minutos;
                        - if(empleado.tiempo.horas<10) h = "0"+h;
                        - if(empleado.tiempo.minutos<10) m = "0"+m;
                        - tiempo = h+":"+m;
                        - if(empleado.tiempo.horas<=0 && empleado.tiempo.minutos<=0) tiempo = "El usuario se ausentó o no marcó salida."
                        tr
                          td #{empleado.tipoUsuario}
                          td #{empleado.usuario.nombre} #{empleado.usuario.apellido1}
                          td #{tiempo}

            else
              h3  #{textos[39].titulo}
              p  #{textos[15].titulo}


          //-Horas por dia
          if(cierreUsuarios)
            if(cierreUsuarios.length != 0)
              br
              h3 #{textos[43].titulo}
              .tableCierres.footable
                table#horaTablaPDF
                    thead
                      tr
                        th #{textos[44].titulo}
                        th #{textos[45].titulo}
                        th #{textos[46].titulo}
                        th #{textos[47].titulo}

                    tbody
                      each cierre, i in cierreUsuarios
                        - var x = JSON.stringify(cierre);
                        - var tiempo ="";
                        - var h =""+cierre.tiempo.horas;
                        - var m =""+cierre.tiempo.minutos;
                        - if(cierre.tiempo.horas<10) h = "0"+h;
                        - if(cierre.tiempo.minutos<10) m = "0"+m;
                        - tiempo = h+":"+m;
                        - if(cierre.tiempo.horas<=0 && cierre.tiempo.minutos<=0)
                          -tiempo = "El usuario se ausentó o no marcó salida."
                        tr
                          td(data-value=cierre.epoch) #{cierre.fecha.str}
                          td #{cierre.tipoUsuario}
                          td #{cierre.usuario.nombre} #{cierre.usuario.apellido1}
                          td #{tiempo}
            else
              h3 #{textos[43].titulo}
              p  #{textos[15].titulo}

          //-Marcas
          if(marcas)
            if(marcas.length != 0)
              h3 #{textos[10].titulo}
              .footable
                table#marcasPDF
                    thead
                      tr
                        th(data-type="numeric" data-sort-initial="descending") #{textos[14].titulo}
                        th #{textos[11].titulo}
                        th #{textos[12].titulo}
                        th #{textos[13].titulo}
                    tbody
                      each marca, i in marcas
                        tr
                          td(data-value=marca.epoch) #{marca.fecha.str}
                          td #{marca.usuario.nombre} #{marca.usuario.apellido1}
                          td #{marca.tipoMarca}
                          td #{marca.tipoUsuario}
            else
              h3 #{textos[10].titulo}
              p #{textos[15].titulo}

           //-Tardias


          if(arregloTardias)
            if(arregloTardias.length != 0)
              h3 #{textos[25].titulo}
              .footable
                table#tardiasPDF
                    thead
                      tr
                        th #{textos[26].titulo}
                        th #{textos[27].titulo}
                        th #{textos[28].titulo}
                        th #{textos[29].titulo}


                    tbody
                      -for (var g = 0; g <arregloTardias.length; g++)
                        tr
                          th #{arregloTardias[g].tipoUsuario}
                          td #{arregloTardias[g].nombre} #{arregloTardias[g].apellido}

                          if(arregloTardias[g].horarioMinutos < 10)
                            td #{arregloTardias[g].horarioHora+":"+arregloTardias[g].horarioMinutos+""+0}
                          else
                            td #{arregloTardias[g].horarioHora+":"+arregloTardias[g].horarioMinutos}
                          td #{arregloTardias[g].fecha}
            else
              h3 #{textos[25].titulo}
              p #{textos[15].titulo}

          if(marcasPorDia)
            if(marcasPorDia.length != 0)
                h3 #{textos[16].titulo}
                .footable
                  table#marcassPDF
                      thead
                        tr
                          th #{textos[17].titulo}
                          th #{textos[18].titulo}
                          th #{textos[19].titulo}
                          th #{textos[20].titulo}
                          th #{textos[21].titulo}
                          th #{textos[22].titulo}
                          th #{textos[23].titulo}
                          th #{textos[24].titulo}
                      tbody
                        -for(var s=0;s<marcasPorDia.length;s++)
                          tr
                            td  #{marcasPorDia[s].tipoUsuario}
                            td  #{marcasPorDia[s].nombre} #{marcasPorDia[s].apellido1}
                            td  #{marcasPorDia[s].entrada}
                            td  #{marcasPorDia[s].salidaAlmuerzo}
                            td  #{marcasPorDia[s].entradaAlmuerzo}
                            td  #{marcasPorDia[s].salidaReceso}
                            td  #{marcasPorDia[s].entradaReceso}
                            td  #{marcasPorDia[s].salida}
              else
                h3 #{textos[16].titulo}
                p #{textos[15].titulo}

          //-Justificaciones
          if(justificaciones)
            if(justificaciones.length != 0)
              h3 #{textos[30].titulo}
              .tableJustificaciones
                table#justificacionesPDF
                    thead
                      tr
                        th(data-type="numeric" data-sort-initial="descending") #{textos[31].titulo}
                        th #{textos[32].titulo}
                        th(data-hide="phone,small") #{textos[33].titulo}
                        th(data-hide="phone,small" data-sort-ignore="true") #{textos[34].titulo}
                        th(data-hide="phone,small" data-sort-ignore="true") #{textos[35].titulo}
                        th #{textos[36].titulo}
                        th(data-hide="phone,small" data-sort-ignore="true") #{textos[37].titulo}
                    tbody
                      each justificacion, i in justificaciones
                        tr
                          td(data-value=justificacion.fechaCreada) #{justificacion.fecha.str}
                          if(justificacion.usuario)
                            td #{justificacion.usuario.nombre} #{justificacion.usuario.apellido1}
                          td #{justificacion.tipoUsuario}
                          td #{justificacion.motivo}
                          td #{justificacion.detalle}
                          td #{justificacion.comentarioSupervisor}
                          td #{justificacion.estado}
                          td
                            if(justificacion.usuario)
                              button.btn.btn-default.justificacionDelete(value=justificacion.usuario.nombre+' '+justificacion.usuario.apellido1+' '+justificacion.usuario.apellido2+','+justificacion.id+','+justificacion.fecha.str, name='eliminar')
                                i.icon-trash.icon-large.i-danger
            else
              h3 #{textos[30].titulo}
              p #{textos[15].titulo}

          //-Solicitudes Horas Extraordinarias
          if(extras)
            if(extras.length != 0)
              br
              h3 #{textos[48].titulo}
              .tableSolicitudes.footable
                table#extraPDF
                    thead
                      tr
                        th(data-type="numeric" data-sort-initial="descending") #{textos[49].titulo}
                        th #{textos[50].titulo}
                        th(data-hide="phone,small" data-sort-ignore="true") #{textos[51].titulo}
                        th(data-hide="phone,small" data-sort-ignore="true") #{textos[52].titulo}
                        th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[53].titulo}
                        th(data-hide="phone,small,medium") #{textos[54].titulo}
                        th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[55].titulo}
                        th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[56].titulo}
                        th(data-hide="phone,small") #{textos[57].titulo}
                        th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[58].titulo}
                    tbody
                      each extra, i in extras
                        tr
                          td(data-value=extra.fechaCreada) #{extra.fecha.str}
                          if(extra.usuario)
                          td #{extra.usuario.nombre} #{extra.usuario.apellido1}
                          td #{extra.diaInicio}
                          td #{extra.diaFinal}
                          td #{extra.cantHoras}
                          td #{extra.cliente}
                          td #{extra.motivo}
                          td #{extra.comentarioSupervisor}
                          td #{extra.estado}
                          td
                            if(extra.usuario)
                              button.btn.btn-default.solicitudDelete(value=extra.usuario.nombre+' '+extra.usuario.apellido1+' '+extra.usuario.apellido2+','+extra.id+','+extra.fecha.str, name='eliminar')
                              i.icon-trash.icon-large.i-danger
            else
              h3 #{textos[48].titulo}
              p #{textos[15].titulo}

          //-Solicitudes Permisos
          if(permisos)
            if(permisos.length != 0)
              br
              h3 #{textos[59].titulo}
              .tableSolicitudes.footable
                table#permisoPDF
                    thead
                      tr
                        th(data-type="numeric" data-sort-initial="descending") #{textos[60].titulo}
                        th  #{textos[61].titulo}
                        th(data-hide="phone,small") #{textos[62].titulo}
                        th(data-hide="phone,small") #{textos[63].titulo}
                        th(data-hide="phone,small") #{textos[64].titulo}
                        th(data-hide="phone,small,medium") #{textos[65].titulo}
                        th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[66].titulo}
                        th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[67].titulo}
                        th #{textos[68].titulo}
                        th(data-hide="phone,small,medium" data-sort-ignore="true") #{textos[69].titulo}
                    tbody
                      each permiso, i in permisos
                        tr
                          td(data-value=permiso.fechaCreada) #{permiso.fecha.str}
                          if(permiso.usuario)
                            td #{permiso.usuario.nombre} #{permiso.usuario.apellido1}
                          td #{permiso.diaInicio}
                          td #{permiso.diaFinal}
                          td #{permiso.cantidadDias}
                          td #{permiso.motivo}
                          td #{permiso.detalle}
                          td #{permiso.comentarioSupervisor}
                          td #{permiso.estado}
                          td
                            if(permiso.usuario)
                              button.btn.btn-default.solicitudDelete(value=permiso.usuario.nombre+' '+permiso.usuario.apellido1+' '+permiso.usuario.apellido2+','+permiso.id+','+permiso.fecha.str, name='eliminar')
                                i.icon-trash.icon-large.i-danger
            else
              h3 #{textos[59].titulo}
              p #{textos[15].titulo}

          //-lista de feriados
          if(feriado)
            if(feriado.lenght!=0)
              br
              h3 #{textos[77].titulo}
              table.footable.tableFeriado
                  thead
                    tr
                      th #{textos[78].titulo}
                      th #{textos[79].titulo}


                  tbody
                    each feriadoCurrent, i in feriado
                      tr
                        td #{feriadoCurrent.nombreFeriado}
                        td #{feriadoCurrent.epoch}
            else
              h3 #{textos[77].titulo}
              p #{textos[15].titulo}

          //-Solicitudes Vacaciones
          if(vacaciones)
              br
              h3 #{textos[70].titulo}
              .tableSolicitudes.footable
                table#permisoPDF
                    thead
                      tr

                        th #{textos[71].titulo}
                        th #{textos[72].titulo}
                        th(data-hide="phone") #{textos[73].titulo}
                        th(data-hide="phone,small,medium,large") #{textos[74].titulo}
                        th(data-hide="phone,small") #{textos[75].titulo}
                        th(data-hide="phone,small") #{textos[76].titulo}
                    tbody
                      form(method="POST", action="/vacacionesUpdate")
                        each elemento, i in usuarios
                            tr
                              td #{elemento.nombre}
                              td #{elemento.apellido1} #{elemento.apellido2}
                              td #{elemento.cedula}
                              td #{elemento.email}
                              td #{elemento.estado}
                              td.text-center #{elemento.vacaciones}

          if(tipoReporte === 'confirmacionPresencia')
              h3 Confirmación de Presencia
              table.footable.tableContenido(data-page-navigation=".pagination" ,data-page-size="25")
                thead
                  tr
                    th Usuario
                    th Fecha de la alerta
                    th Fecha Aceptación
                    th Presente

                tbody
                  each eventoTeletrabajo, i in eventosTeletrabajo
                    tr
                      td #{eventoTeletrabajo.nombreUsuario}
                      td #{moment(eventoTeletrabajo.fecha).format("YYYY-MM-DD hh:mm:ss")}
                      td #{eventoTeletrabajo.fechaAceptacion === null ? '' : moment(eventoTeletrabajo.fechaAceptacion).format("YYYY-MM-DD hh:mm:ss")}
                      td #{eventoTeletrabajo.presente ? 'Si' : 'No'}
block sigucaJS
  script(src="/js/app/reportes.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/components/d3.min.js")
  script(src="/js/components/cal-heatmap.js")
  script( src='/js/app/sigucaHome.js')
