extends layout

block sigucaCSS
  link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.min.css')

block content
    div.container
      .col-xs-3
       h3 Reportes de eventos
       h4 #{empleado}   

      .col-xs-12
       h3 Filtros   
       div.filter
             div.filter
                  label#departamento(for='departamento') 
                  .btn-group
                     .btn-group
                     table
                       form(role='form', method="POST", action="/filtrarEventos/")
                        td
                          select.form-control#selectFiltro.selectpicker(data-style="btn-default", data-width="auto", type="text", name="filtro") 
                            option(value= usuario._id + "|" + departamentos + "|todos|reportes") Todos los usuarios
                            each user in usuarios
                              option(value= usuario._id + "|" + departamentos + "|" + user._id + "|reportes") #{user.apellido1} #{user.apellido2}, #{user.nombre}
                        td
                          label(for='fechaDesde') Desde:
                            div#datepicker.input-group
                              input.form-control(type='text', name='fechaDesde')
                              span.input-group-addon
                                i.icon-calendar
                        td
                          label(for='fechaHasta') Hasta:
                            div#datepicker.input-group
                              input.form-control(type='text', name='fechaHasta')
                              span.input-group-addon
                                i.icon-calendar
                        td
                          button.form-control.btn.btn-success(type='submit', name='gestionar') Filtrar
                        
      .col-xs-12
        h3 Marcas
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Usuario
                th Tipo
            tbody
              each marca, i in marcas
                tr
                  td #{marca.fecha} 
                  td #{marca.usuario.nombre} #{marca.usuario.apellido1}
                  td #{marca.tipoMarca} 
              
      .col-xs-12
        h3 Justificaciones
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Usuario
                th Motivo
                th Detalle
                th Comentario
                th Estado
            tbody
              each justificacion, i in justificaciones
                tr
                  td #{justificacion.fecha} 
                  td #{justificacion.usuario.nombre} #{justificacion.usuario.apellido1}
                  td #{justificacion.motivo} 
                  td #{justificacion.detalle} 
                  td #{justificacion.comentarioSupervisor} 
                  td #{justificacion.estado}  
              

        h3 Solicitudes Horas Extraordinarias
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Usuario
                th Día
                th Hora Inicio 
                th Hora Final
                th Cantidad de Horas
                th Motivo
                th Comentario
                th Estado
            tbody
              each extra, i in extras
                tr
                  td #{extra.fecha} 
                  td #{extra.usuario.nombre} #{extra.usuario.apellido1} 
                  td #{extra.diaInicio} 
                  td #{extra.horaInicio} 
                  td #{extra.horaFinal} 
                  td #{extra.cantHoras} 
                  td #{extra.motivo} 
                  td #{extra.comentarioSupervisor} 
                  td #{extra.estado} 
               

        h3 Solicitudes Permisos
        br
        .table-responsive
        table.table
            thead
              tr
                th Fecha
                th Usuario
                th Día Inicial
                th Día Final 
                th Cantidad Días
                th Motivo
                th Detalle
                th Comentario
                th Estado
            tbody
              each permiso, i in permisos
                tr
                  td #{permiso.fecha} 
                  td #{permiso.usuario.nombre} #{permiso.usuario.apellido1} 
                  td #{permiso.diaInicio} 
                  td #{permiso.diaFinal} 
                  td #{permiso.cantidadDias} 
                  td #{permiso.motivo} 
                  td #{permiso.detalle} 
                  td #{permiso.comentarioSupervisor} 
                  td #{permiso.estado}  
              
                                     
block sigucaJS
  script(src="/js/bootstrap-datepicker.min.js")
  script(src="/js/bootstrap-select.min.js")
  script(src="/js/datepickerReportes.js")