extends layout

block content
  .container
    
    br

    h3 Vacaciones
    table.footable.tableEmpleado(data-page-navigation=".pagination" data-page-size="20")
        thead
          tr
            th Nombre
            th Apellidos
            th(data-hide="phone") Cédula
            th(data-hide="phone,small,medium,large") Email
            th(data-hide="phone,small") Estado
            th(data-hide="phone,small") Días disponibles
            th(data-hide="phone,small" data-sort-ignore="true") Editar

        tbody 
            each elemento, i in listaVacaciones
              form(method="POST", action="/vacacionesUpdate")
                tr
                  td #{elemento.usuario.nombre}
                  td #{elemento.usuario.apellido1} #{elemento.usuario.apellido2} 
                  td #{elemento.usuario.cedula} 
                  td #{elemento.usuario.email} 
                  td #{elemento.usuario.estado}
                  td
                    input.fondoTransparente.text-center(type="text", value=elemento.id,required, name="id", hidden)
                    input.fondoTransparente.text-center(type="number", value=elemento.disponibles,required, name="disponibles") 
                  //-td #{elemento.disponibles}
                  td
                    button.btn.btn-default(type="submit" value=elemento.usuario.id)
                      i.icon-pencil.icon-large.i-success

            //-Se muestran los usuarios sin vacaciones asignadas
            each elemento2, i in listaUsuariosSinVacaciones
              form(method="POST", action="/vacacionesInsert")
                tr
                  td #{elemento2.nombre}
                  td #{elemento2.apellido1} #{elemento2.apellido2} 
                  td #{elemento2.cedula} 
                  td #{elemento2.email} 
                  td #{elemento2.estado}
                  td
                    input.fondoTransparente.text-center(type="text", value=elemento2.id, name="idUsuario", hidden)
                    input.fondoTransparente.text-center(type="number", value=0,required, name="disponibles") 
                  //-td #{elemento2.disponibles}
                  td
                    button.btn.btn-default(type="submit" value=elemento2.id)
                      i.icon-plus.icon-large.i-success
        tfoot
          tr
            td(colspan='11')
              .pagination.pagination-centered.hide-if-no-paging

    
block sigucaJS
  script(src="/js/components/mailgun_validator.js")
  script(src="/js/components/generarPassword.js")

